ALTER VIEW [MasterData].[BusinessUnit] AS (
	SELECT [BusinessUnit] = [Name]
		  ,[ManagerUserPrincipalName] = E.UserPrincipalName
		  ,[DateLastModified] = [LastChgDateTime]
		  ,[BusinessUnitKey] = [Code]
		  ,[AzureAdObjectId]
		  ,[ActiveDirectoryObjectId]
	FROM [mdm].[OGD_BusinessUnits_Current] T
	INNER JOIN [MasterData].[Employee] E ON (E.EmployeeNumber = T.Manager_Name)
	where ValidationStatus = 'Validation Succeeded' 
);
GO

ALTER VIEW [MasterData].[BusinessUnitDelta] AS (
	SELECT * 
	FROM [MasterData].[BusinessUnit]	
	WHERE DATEDIFF(MINUTE, [DateLastModified], (SYSUTCDATETIME() AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time')) <= 15
);
GO

ALTER VIEW [MasterData].[BusinessUnitJson] AS (
	SELECT	
		[JSON_Object] = (SELECT * FROM [MasterData].[BusinessUnit] DB WHERE DB.[BusinessUnitKey] = B.[BusinessUnitKey] FOR JSON PATH)
	FROM 
		[MasterData].[BusinessUnit] B
);
GO

ALTER VIEW [MasterData].[BusinessUnitDeltaJson] AS (
	SELECT	
		[JSON_Object] = (SELECT * FROM [MasterData].[BusinessUnitDelta] DB WHERE DB.[BusinessUnitKey] = B.[BusinessUnitKey] FOR JSON PATH)
	FROM 
		[MasterData].[BusinessUnitDelta] B
)
GO