ALTER VIEW [MasterData].[Team] AS (
	SELECT [OrganizationPath] = T.[Name]
		  ,[BusinessUnit] = T.[BusinessUnit_Name]
		  ,[Team] = [Team_Name]
		  ,[ManagerUserPrincipalName] = E.UserPrincipalName
		  ,[DateLastModified] = T.[LastChgDateTime]
		  ,[TeamKey] = T.[Code]
		  ,T.[AzureAdObjectId]
		  ,T.[ActiveDirectoryObjectId]
		  ,[BusinessUnitAzureAdObjectId] = B.AzureAdObjectId
		  ,[BusinessUnitActiveDirectoryObjectId] = B.[ActiveDirectoryObjectId]
	FROM [mdm].[BU_Team] T
	INNER JOIN [MasterData].[Employee] E ON (E.EmployeeNumber = T.Manager_Name)
	INNER JOIN [mdm].[OGD_BusinessUnits_Current] B ON (B.[Code] = T.[BusinessUnit_Code])
	WHERE T.ValidationStatus = 'Validation Succeeded' 
);
GO

ALTER VIEW [MasterData].[TeamDelta] AS (
	SELECT * 
	FROM [MasterData].[Team]	
	WHERE DATEDIFF(MINUTE, [DateLastModified], (SYSUTCDATETIME() AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time')) <= 15
);
GO

ALTER VIEW [MasterData].[TeamJson] AS (
	SELECT	
		[JSON_Object] = (SELECT * FROM [MasterData].[Team] DB WHERE DB.[TeamKey] = B.[TeamKey] FOR JSON PATH)
	FROM 
		[MasterData].[Team] B
);
GO

ALTER VIEW [MasterData].[TeamDeltaJson] AS (
	SELECT	
		[JSON_Object] = (SELECT * FROM [MasterData].[TeamDelta] DB WHERE DB.[TeamKey] = B.[TeamKey] FOR JSON PATH)
	FROM 
		[MasterData].[TeamDelta] B
)
GO