CREATE VIEW [MasterData].[Function] AS (
	SELECT [FunctionPath] = [Name]
		  ,[OrganizationPath] = MTF.[Team_Name]
		  ,[BusinessUnit]
		  ,T.[Team]
		  ,[Function] = [Function_Name]
		  ,MTF.[AzureAdObjectId]
		  ,MTF.[ActiveDirectoryObjectId]
		  ,[BusinessUnitAzureAdObjectId]
		  ,[BusinessUnitActiveDirectoryObjectId]
		  ,[TeamAzureAdObjectId] = T.AzureAdObjectId
		  ,[TeamActiveDirectoryObjectId] = T.ActiveDirectoryObjectId
		  ,[DateLastModified] = [LastChgDateTime]
		  ,[FunctionKey] = MTF.[Code]
	FROM [mdm].[OGD_Mapp_Team_Func] MTF
	INNER JOIN [MasterData].[Team] T ON (T.TeamKey = MTF.Team_Code)
	WHERE ValidationStatus = 'Validation Succeeded'
);
GO

CREATE VIEW [MasterData].[FunctionDelta] AS (
	SELECT * 
	FROM [MasterData].[Function]	
	WHERE DATEDIFF(MINUTE, [DateLastModified], (SYSUTCDATETIME() AT TIME ZONE 'UTC' AT TIME ZONE 'Central European Standard Time')) <= 15
);
GO

CREATE VIEW [MasterData].[FunctionJson] AS (
	SELECT	
		[JSON_Object] = (SELECT * FROM [MasterData].[Function] DB WHERE DB.[FunctionKey] = B.[FunctionKey] FOR JSON PATH)
	FROM 
		[MasterData].[Function] B
);
GO

CREATE VIEW [MasterData].[FunctionDeltaJson] AS (
	SELECT	
		[JSON_Object] = (SELECT * FROM [MasterData].[FunctionDelta] DB WHERE DB.[FunctionKey] = B.[FunctionKey] FOR JSON PATH)
	FROM 
		[MasterData].[FunctionDelta] B
)
GO