-- Taget Schema
DECLARE @schemaName nvarchar(255) = 'Load'
DECLARE @sql nvarchar(max) = ''

-- Parameters for Cursor
declare @table_name sysname
declare @table_schema sysname
declare @column_name sysname
declare @primarykey sysname

-- Cursor to loop over tables in database. Excludes date and time variables. remove "table_name = " if done for all tables.
declare T cursor  for
	select DISTINCT table_name, table_schema
	from Information_schema.tables T
	WHERE T.TABLE_TYPE = 'BASE TABLE' AND table_schema in ('dim') and table_name NOT IN ('date', 'time')
	order by table_schema, T.TABLE_NAME
open T

fetch next from T into @table_name, @table_schema
while @@FETCH_STATUS = 0
begin
	
	-- Select table primary key for join condition for merge
	/*
	SELECT @primaryKey = Col.Column_Name
	from 
		INFORMATION_SCHEMA.TABLE_CONSTRAINTS Tab, 
		INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE Col 
	WHERE 
    Col.Constraint_Name = Tab.Constraint_Name
    AND Col.Table_Name = Tab.Table_Name
    AND Constraint_Type = 'PRIMARY KEY'
    AND Col.Table_Name = @table_name
	AND Col.Table_Schema = @table_schema;
	*/
	SET @primaryKey = 'SourceId';

	PRINT '--- Generating statement ---';
	PRINT '--- PARAMS: ' + @table_schema + '.' + @table_name + ' ---';

	-- Generate the "INSERT INTO" statement which inserts the output from merge of updated records as new records
	IF (SELECT COUNT(*) FROM Information_schema.columns where table_name = @table_name and table_schema = @table_schema and column_name = 'IsCurrent') = 1 BEGIN
		SET @sql  = 'alter PROCEDURE [Load].[usp_' + @table_schema + @Table_Name + ']'+char(10)+'AS'+char(10)+'BEGIN'+char(10)+char(9)+'SET NOCOUNT ON;'+char(10)+char(9)+'DECLARE @Timestamp datetime2 = SYSUTCDATETIME();'+char(10)+char(10)
		
		-- Temporary table creation
		-- Somehow it won't insert into the logging table. SQL thinks that's a view...
		SET @sql += char(9) + 'IF OBJECT_ID(''#' + @table_schema + @table_name + ''') IS NOT NULL DROP TABLE [#' + @table_schema + @table_name + ']' + char(10)
		SET @sql += char(9) + 'CREATE TABLE [#' + @table_schema + @table_name + ']' + char(10) + char(9) + '('
		SET @sql += (SELECT STUFF((SELECT ',' + char(10) + + char(9) + char(9) + CAST('[' + Column_Name + '] ' + '[' + DATA_TYPE + ']' + (CASE WHEN Character_Maximum_Length IS NOT NULL THEN '(' + (CASE CAST(Character_Maximum_Length AS NVARCHAR) WHEN -1 THEN 'MAX' ELSE CAST(Character_Maximum_Length AS NVARCHAR) END) + ') ' ELSE (CASE WHEN DATA_TYPE IN ('bit', 'tinyint', 'bigint', 'int',
	'smallint', 'uniqueidentifier', 'money', 'time', 'date') THEN '' WHEN DATA_Type IN ('datetime2') THEN '(' + CAST(datetime_precision AS NVARCHAR) + ') ' ELSE '(' + CAST(NUMERIC_PRECISION AS NVARCHAR) + ',' + CAST(NUMERIC_SCALE AS NVARCHAR) + ')'  END) END) + (CASE WHEN IS_NULLABLE = 'YES' OR Column_Name IN ('ValidTo') THEN  'NULL' ELSE ' NOT NULL' END) as nvarchar(max)) 
				FROM Information_schema.columns C
				WHERE C.Table_Schema = 'Load' AND C.Table_name = @table_schema + @table_name and column_name not in ('Key', 'IsCurrent')
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 1, '')) + char(10) + char(9) + ')' + char(10) + char(10);
		
		-- Merge statement
		SET @sql += char(9) + 'INSERT INTO [#' + @table_schema + @table_name + '] ('
		SET @sql += (SELECT STUFF((SELECT ',' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_name = @Table_Schema + @table_name and C.Table_schema = 'Load' and column_name not in ('Key', 'IsCurrent') AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 1, '')) + ')' + char(10)
		SET @sql += char(9) + 'SELECT ' + char(10) + char(9) + char(9) + ' ' + (SELECT STUFF((SELECT char(10) + char(9) + char(9) + ',' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_name = @Table_Schema + @table_name and C.Table_schema = 'Load' and column_name not in ('Key','Timestamp', 'IsCurrent') AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 4, '')) + char(10)
		SET @sql += char(9) + char(9) + ',@Timestamp' + char(10) + char(9) + 'FROM (' + char(10)
		SET @sql += char(9) + char(9) + 'MERGE [' + @table_schema + '].[' + @table_name + '] T' + char(10)
		SET @sql += char(9) + char(9) + 'USING [Staging].[vw' + @table_schema + @table_name + '] S'
		
		-- Printing SQL to clean-up variable
		PRINT @sql

		SET @sql = ''

		-- If contains a validFrom clause, add this to join condition. Else only match on primary key
		SET @sql += char(9) + char(9) + 'ON (T.[' + @primaryKey + '] = S.[' + @primaryKey + '])' 
		
		PRINT @sql;
		SET @sql = '';

		-- What if not matched aka new record
		SET @sql += char(9) + char(9) + char(9) + 'WHEN NOT MATCHED THEN' + char(10)
		SET @sql += char(9) + char(9) + char(9) + char(9) + 'INSERT ('
				SET @sql += (SELECT STUFF((SELECT ',' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_name = @table_name and C.Table_schema = @Table_schema and column_name not in ('Key', 'IsCurrent', 'ValidTo') AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 1, '')) + ')' + char(10)
		SET @sql += char(9) + char(9) + char(9) + char(9) + 'VALUES (' + char(10) + char(9) + char(9) + char(9) + char(9) + char(9) + ' ' + (SELECT STUFF((SELECT + char(10) + char(9) + char(9) + char(9) + char(9) + char(9) + ',S.' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_Schema = @Table_Schema AND C.Table_name = @table_name and column_name not in ('Key', 'IsCurrent', 'ValidTo')AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 7, '')) + + char(10) + char(9) + char(9) + char(9) + char(9) +  ')' + char(10)
	
		-- When matched
		SET @sql += char(9) + char(9) + char(9) + 'WHEN MATCHED' + char(10) + char(9) + char(9) + char(9) + char(9) + 'AND T.IsCurrent = 1' + char(10) + char(9) + char(9) + char(9) + char(9) + 'AND (' + char(10)

		/* CHANGE TO HASH! */
		SET @sql += char(9) + char(9) + (SELECT char(9) + char(9) + char(9) + char(9) + STUFF((SELECT char(10) + char(9) + char(9) + char(9) + char(9) + char(9) + ' OR T.' + CAST('[' + Column_Name + '] != S.' + '[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_Schema = @Table_Schema AND C.Table_name = @table_name AND C.column_name NOT IN ('IsCurrent', 'Key', 'SourceId', 'ValidTo')AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1,10, '')) + char(10)
		SET @sql += char(10) + char(9) + char(9) + char(9) + char(9) + ')' + char(10) + char(9) + char(9) + char(9) + 'THEN '
		SET @sql += 'UPDATE SET '+char(10) + char(9) + char(9) + char(9) + char(9) + ' T.ValidTo = S.ValidFrom' + char(10) + char(9) + char(9) + char(9) + char(9) + ',T.IsCurrent = 0' + char(10)

		-- Generate list of updated columns to output
		SET @sql += char(9) + char(9) + char(9) + 'OUTPUT' + char(10) + char(9) + char(9) + char(9) + char(9) + ' $Action Action_Out ' + (SELECT char(10) + char(9) + char(9) + char(9) + STUFF((SELECT char(10) + char(9) + char(9) + char(9) + char(9) + ',S.' + CAST('[' + Column_Name + '] ' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_Schema = @Table_Schema AND C.Table_name = @table_name and C.column_name NOT IN ('IsCurrent', 'Key')AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 4, '')) + char(10)
		SET @sql += char(9) + ') AS MERGE_OUT;' + char(10) + char(10)

		-- Only select updated records
		SET @sql += char(9) + 'INSERT INTO [' + @table_schema + '].[' + @table_name + '] ('
		SET @sql += (SELECT STUFF((SELECT ',' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_name = @table_name and C.Table_schema = @table_schema and column_name not in ('Key', 'Timestamp', 'IsCurrent', 'ValidTo') AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 1, '')) + ')' + char(10)
		SET @sql += char(9) + 'SELECT ' + char(10) + char(9) + char(9) + ' ' + (SELECT STUFF((SELECT char(10) + char(9) + char(9) + ',' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_name = @table_name and C.Table_schema = @table_schema and column_name not in ('Key', 'Timestamp', 'IsCurrent', 'ValidTo') AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 4, '')) + char(10) + char(9) + 'FROM [#' + @table_schema + @table_name + ']' + char(10)
		SET @sql += char(9) + 'WHERE Action_Out = ''Update'' AND ValidTo IS NULL AND [Timestamp] = @Timestamp;' + char(10) + char(10)

		-- Logging table
		SET @sql += char(9) + 'INSERT INTO [Load].[' + @table_schema + @table_name + '] ('
		SET @sql += (SELECT STUFF((SELECT ',' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_name = @table_schema + @table_name and C.Table_schema = 'Load' and column_name not in ('Key', 'IsCurrent', 'ValidTo') AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 1, '')) + ')' + char(10)
		SET @sql += char(9) + 'SELECT ' + char(10) + char(9) + char(9) + ' ' + (SELECT STUFF((SELECT char(10) + char(9) + char(9) + ',' + CAST('[' + Column_Name + ']' as nvarchar(max))
				FROM Information_schema.columns C
				WHERE C.Table_name = @table_schema + @table_name and C.Table_schema = 'Load' and column_name not in ('Key', 'IsCurrent', 'ValidTo') AND Column_Name NOT IN (SELECT name FROM sys.computed_columns WHERE object_id = OBJECT_ID(@Table_Schema + '.' + @Table_Name))
				ORDER BY C.ORDINAL_POSITION 
				FOR XML PATH('')
			), 1, 4, '')) + char(10) + char(9) + 'FROM [#' + @table_schema + @table_name + ']' + char(10)


		SET @sql += 'END;'+char(10)+'GO'
		PRINT @sql
		
	END

fetch next from T into @table_name, @table_schema
end

close T
deallocate T
