/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	   I.[invoicenr]
	  ,IEH.[booking_date]
      ,IEH.[price_ex_vat]
	  ,I.price_ex_vat
	  ,I.vat_price
	  ,IEH.price_ex_vat
      ,[Amount] = (IEH.seconds / 3600)
      ,IEH.[percentage]
	  ,btw.tarief
      ,UT.declarabel
	  ,P.projectnaam
	  ,P.projectnr
      ,[Medewerker] = CONCAT(TRIM(w.anaam), ', ', TRIM(W.inits), CASE WHEN w.tussen = '' THEN '' ELSE ' ' + w.tussen END, CASE WHEN CI.invoicenr IS NULL THEN '' ELSE ', Factuur: ' + CI.invoicenr END)
	  ,G.tekst
	  ,D.naam
	  ,I.document_date
FROM [dbo].[invoiced_employee_hour] IEH
INNER JOIN [dbo].[voordracht] v ON (v.unid = IEH.employee_assignment_id)
INNER JOIN [dbo].[invoice] I ON (I.unid = IEH.invoiceid)
INNER JOIN [dbo].[werknemer] w ON (w.unid = IEH.employee_id)
INNER JOIN [dbo].[btwtype] btw ON (btw.unid = IEH.vatid)
INNER JOIN [dbo].[uurtype] UT ON (UT.unid = IEH.hourtype_id)
INNER JOIN [dbo].[project] P ON (p.unid = UT.projectid)
INNER JOIN [dbo].[dienst] d ON (d.unid = IEH.product_id)
INNER JOIN [dbo].[grootboekrekening] G ON (G.unid = d.grootboekid)
LEFT JOIN [dbo].[invoiced_employee_hour] CIEH ON (CIEH.unid  = IEH.correctedid)
LEFT JOIN [dbo].[invoice] CI ON (CI.unid = CIEH.invoiceid)
WHERE I.invoicenr = '1901078'