/*
select * from dbo.[Permission]

select * from tmp.[Permission] S
LEFT JOIN dbo.[Permission] T ON (T.[Role ID] = S.[Role ID] AND T.[Object Type] = S.[Object Type] AND T.[Object ID] = S.[Object ID])
WHERE T.[Role ID] IS NOT NULL
*/

--SELECT * INTO [tmp].[BACKUP_Permission Set] FROM dbo.[Permission Set]

BEGIN TRAN

MERGE dbo.[Permission Set] T
USING tmp.[Permission Set] S
	ON (T.[Role ID] = S.[Role ID])
WHEN MATCHED THEN
	UPDATE SET 
		T.[Name] = S.[Name],
		T.[Hash] = S.[Hash]
WHEN NOT MATCHED THEN
	INSERT ([Role ID], [Name], [Hash])
	VALUES (S.[Role ID], S.[Name], S.[Hash])
WHEN NOT MATCHED BY SOURCE THEN
	DELETE
	

OUTPUT
   $action,
   inserted.*,
   deleted.*;


ROLLBACK;