/*
select * from dbo.[Permission]

select * from tmp.[Permission] S
LEFT JOIN dbo.[Permission] T ON (T.[Role ID] = S.[Role ID] AND T.[Object Type] = S.[Object Type] AND T.[Object ID] = S.[Object ID])
WHERE T.[Role ID] IS NOT NULL
*/

--SELECT * INTO [tmp].[BACKUP_User Group Permission Set] FROM dbo.[User Group Permission Set]
/*
BEGIN TRAN

MERGE dbo.[User Group Permission Set] T
USING tmp.[User Group Permission Set] S
	ON (T.[User Group Code] = S.[User Group Code] AND T.[Role ID] = S.[Role ID] AND T.[Scope] = S.[Scope] AND T.[App ID] = S.[App ID])
WHEN NOT MATCHED THEN
	INSERT ([User Group Code], [Role ID], [Scope], [App ID])
	VALUES (S.[User Group Code], S.[Role ID], S.[Scope], S.[App ID])
--WHEN NOT MATCHED BY SOURCE THEN
--	DELETE

OUTPUT
   $action,
   inserted.*,
   deleted.*;


ROLLBACK;
*/

select * from dbo.[User Group Permission Set] WHERE [Role ID] NOT IN (SELECT [Role ID] FROM [Permission Set])

/*
UPDATE dbo.[User Group Permission Set] SET [Role ID] = 'D365 BASIC'
WHERE [User Group Code] = 'OGD GOEDKEURINGEN' AND [Role ID] = 'D365 BASIS'
*/


--DELETE FROM dbo.[User Group Permission Set] WHERE [Role ID] = 'OGD BASIS'

INSERT INTO [dbo].[Permission Set] ([Role ID], [Name], [Hash])
select [Role ID], [Name], [Hash] FROM [tmp].[BACKUP_Permission Set] WHERE [Role ID] in ('FIN-BANK BOEKEN', 'FIN-TELEBANKIEREN')

