/*
select * from dbo.[Permission]

select * from tmp.[Permission] S
LEFT JOIN dbo.[Permission] T ON (T.[Role ID] = S.[Role ID] AND T.[Object Type] = S.[Object Type] AND T.[Object ID] = S.[Object ID])
WHERE T.[Role ID] IS NOT NULL
*/

--SELECT * INTO [tmp].[BACKUP_User Group] FROM dbo.[User Group]

BEGIN TRAN

MERGE dbo.[User Group] T
USING tmp.[User Group] S
	ON (T.[Code] = S.[Code])
WHEN MATCHED THEN
	UPDATE SET 
		T.[Name] = S.[Name],
		T.[Default Profile ID] = S.[Default Profile ID],
		T.[Assign to All New Users] = S.[Assign to All New Users],
		T.[Customized] = S.[Customized],
		T.[Default Profile App ID] = CAST(S.[Default Profile App ID] AS UNIQUEIDENTIFIER),
		T.[Default Profile Scope] = S.[Default Profile Scope]
WHEN NOT MATCHED THEN
	INSERT ([Code], [Name], [Default Profile ID], [Assign to All New Users], [Customized], [Default Profile App ID], [Default Profile Scope])
	VALUES (S.[Code], S.[Name], S.[Default Profile ID], S.[Assign to All New Users], S.[Customized], S.[Default Profile App ID], S.[Default Profile Scope])
--WHEN NOT MATCHED BY SOURCE THEN
--	DELETE
	

OUTPUT
   $action,
   inserted.*,
   deleted.*;


ROLLBACK;