BEGIN TRAN
UPDATE [dbo].[Operator Groep Delft B_V_$VAT Posting Setup$d464050e-8d3c-4fcf-895e-9249cd1df555]
	SET [dbo].[Operator Groep Delft B_V_$VAT Posting Setup$d464050e-8d3c-4fcf-895e-9249cd1df555].[Mapping VAT Code] = S.[Mapping VAT Code]
FROM [dbo].[Operator Groep Delft B_V_$VAT Posting Setup$d464050e-8d3c-4fcf-895e-9249cd1df555] T
INNER JOIN [dbo].[Operator Groep Delft B_V_$VAT Posting Setup UPG] S ON (T.[VAT Bus_ Posting Group] = S.[VAT Bus_ Posting Group] AND T.[VAT Prod_ Posting Group] = S.[VAT Prod_ Posting Group])

SELECT *
  FROM [dbo].[Operator Groep Delft B_V_$VAT Posting Setup$d464050e-8d3c-4fcf-895e-9249cd1df555]

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$VAT Posting Setup UPG]
  WHERE [Mapping VAT Code] > 0

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$VAT Posting Setup$d464050e-8d3c-4fcf-895e-9249cd1df555]
  WHERE [Mapping VAT Code] > 0

ROLLBACK

BEGIN TRAN
UPDATE [dbo].[Operator Groep Delft B_V_$Approval Entry$d464050e-8d3c-4fcf-895e-9249cd1df555]
	SET [dbo].[Operator Groep Delft B_V_$Approval Entry$d464050e-8d3c-4fcf-895e-9249cd1df555].[Details] = S.[Details]
FROM [dbo].[Operator Groep Delft B_V_$Approval Entry$d464050e-8d3c-4fcf-895e-9249cd1df555] T
INNER JOIN [dbo].[Operator Groep Delft B_V_$Approval Entry UPG] S ON (T.[Entry No_] = S.[Entry No_])

SELECT *
  FROM [dbo].[Operator Groep Delft B_V_$Approval Entry$d464050e-8d3c-4fcf-895e-9249cd1df555]

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Approval Entry UPG]
  WHERE [Details] != '0'

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Approval Entry$d464050e-8d3c-4fcf-895e-9249cd1df555]
  WHERE [Details] != '0'

ROLLBACK

BEGIN TRAN
UPDATE [dbo].[Operator Groep Delft B_V_$Standard Purchase Line$d464050e-8d3c-4fcf-895e-9249cd1df555]
	SET [dbo].[Operator Groep Delft B_V_$Standard Purchase Line$d464050e-8d3c-4fcf-895e-9249cd1df555].[VAT Prod_ Posting Group] = S.[VAT Prod_ Posting Group]
FROM [dbo].[Operator Groep Delft B_V_$Standard Purchase Line$d464050e-8d3c-4fcf-895e-9249cd1df555] T
INNER JOIN [dbo].[Operator Groep Delft B_V_$Standard Purchase Line UPG] S ON (T.[Standard Purchase Code] = S.[Standard Purchase Code] AND T.[Line No_] = S.[Line No_])

SELECT *
  FROM [dbo].[Operator Groep Delft B_V_$Standard Purchase Line$d464050e-8d3c-4fcf-895e-9249cd1df555]

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Standard Purchase Line UPG]
  WHERE [VAT Prod_ Posting Group] != '0'

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Standard Purchase Line$d464050e-8d3c-4fcf-895e-9249cd1df555]
  WHERE [VAT Prod_ Posting Group] != '0'

ROLLBACK

BEGIN TRAN
UPDATE [dbo].[Operator Groep Delft B_V_$Vendor$d464050e-8d3c-4fcf-895e-9249cd1df555]
	SET [dbo].[Operator Groep Delft B_V_$Vendor$d464050e-8d3c-4fcf-895e-9249cd1df555].[Chamber of Commerce] = S.[Chamber of Commerce]
FROM [dbo].[Operator Groep Delft B_V_$Vendor$d464050e-8d3c-4fcf-895e-9249cd1df555] T
INNER JOIN [dbo].[Operator Groep Delft B_V_$Vendor UPG] S ON (T.[No_] = S.[No_])

SELECT *
  FROM [dbo].[Operator Groep Delft B_V_$Vendor$d464050e-8d3c-4fcf-895e-9249cd1df555]

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Vendor UPG]
  WHERE [Chamber of Commerce] > 0

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Vendor$d464050e-8d3c-4fcf-895e-9249cd1df555]
  WHERE [Chamber of Commerce] > 0

ROLLBACK

BEGIN TRAN
UPDATE [dbo].[Operator Groep Delft B_V_$Customer$d464050e-8d3c-4fcf-895e-9249cd1df555]
	SET [dbo].[Operator Groep Delft B_V_$Customer$d464050e-8d3c-4fcf-895e-9249cd1df555].[Chamber of Commerce] = S.[Chamber of Commerce]
FROM [dbo].[Operator Groep Delft B_V_$Customer$d464050e-8d3c-4fcf-895e-9249cd1df555] T
INNER JOIN [dbo].[Operator Groep Delft B_V_$Customer UPG] S ON (T.[No_] = S.[No_])

SELECT *
  FROM [dbo].[Operator Groep Delft B_V_$Customer$d464050e-8d3c-4fcf-895e-9249cd1df555]

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Customer UPG]
  WHERE [Chamber of Commerce] > 0

SELECT COUNT(*)
  FROM [dbo].[Operator Groep Delft B_V_$Customer$d464050e-8d3c-4fcf-895e-9249cd1df555]
  WHERE [Chamber of Commerce] > 0

ROLLBACK
