/****** Script for SelectTopNRows command from SSMS  ******/
SELECT l.*
FROM [dbo].[registration_employee_log] L
INNER JOIN dbo.werknemer W ON (W.unid = L.employeeid and w.anaam = 'leeuwen' and w.vnaam LIKE '%Annabel%')
order by dataanmk desc

/*
SELECT l.*
FROM [dbo].[registration_approval] L
INNER JOIN dbo.gebruiker G ON (G.unid = L.employeeid)
INNER JOIN dbo.werknemer W ON (W.unid = G.employeeid and w.anaam = 'leeuwen' and w.vnaam LIKE '%Annabel%')
order by dataanmk
*/

-- LIFT uses the "submit_date" as hours submitted until $date
-- LIFT uses the "accept_date" as "submitted hours accepted on"
-- #LIFTLogic
-- Setting first day of week to monday
SET DateFirst 1
SELECT distinct
	 [year] = datepart(year, MAX(submitted.submit_date))
	,[week] = datepart(week, MAX(submitted.submit_date))
	,[year-week] = CONCAT(datepart(year, MAX(submitted.submit_date)), '-', datepart(week, MAX(submitted.submit_date)))
	,submitted.assignmentid
	,DateHoursSubmittedUntil = MAX(CAST(submitted.submit_date AS DATE))
	,DateHoursApproved = MAX(CAST(accepted.accept_date AS DATE))
FROM (
	select 
		 assignmentid
		,submit_date = MAX(submit_date) 
	FROM [dbo].[registration_assignment_log] 
	GROUP BY assignmentid
) s	
INNER JOIN [dbo].[registration_assignment_log] submitted ON (submitted.assignmentid = s.assignmentid AND submitted.submit_date = s.submit_date)
LEFT JOIN [dbo].[registration_assignment_log] accepted ON (accepted.assignmentid = submitted.assignmentid AND accepted.dataanmk >= submitted.dataanmk and accepted.submit_date IS NULL)
where submitted.submit_date IS NOT NULL and submitted.assignmentid='3E47D8B5-53DE-4FC7-9E45-773639EDAE0A'
GROUP BY submitted.assignmentid
order by [year] desc, [week] desc

select * from dbo.[registration_assignment_log] where assignmentid='3E47D8B5-53DE-4FC7-9E45-773639EDAE0A' order by dataanmk desc

SELECT 
	 dataanmk
	-- LIFT uses the "submit_date" as hours submitted until $date
	-- LIFT uses the "accept_date" as "submitted hours accepted on"
	-- #LIFTLogic
	,DateHoursSubmittedUntil = coalesce(submit_date, LAG(submit_date) OVER (Partition by assignmentid order by dataanmk desc))
	,DateHoursAcceptedOn = coalesce(accept_date, LEAD(accept_date) OVER (partition by assignmentid order by dataanmk desc))
	,assignmentid
	,changing_process
	,[week] = datepart(week, submit_date)
FROM [dbo].[registration_assignment_log] L
where assignmentid = '919F23C9-C9D3-42AF-9F7C-49F24F5E5EA1' 
order by dataanmk desc

SELECT 
	 *
FROM [dbo].[registration_assignment_log] L
where assignmentid = '919F23C9-C9D3-42AF-9F7C-49F24F5E5EA1' 
order by dataanmk desc

-- LIFT doet ma -> zo. Last week, dus terugrekenen naar zo, dan -7.
-- changing_process 8 = urenbrief
-- changing_process 1 = urenkaart backoffice (ADMINISTRATIE)
-- changing_process 2 = Medewerkersportaal
-- uidwijzig/uidaanmk -> dbo.gebruiker -> dbo.employee -> dbo.urenmanager