/****** Script for SelectTopNRows command from SSMS  ******/
SELECT th.[unid]
      ,th.[dataanmk]
      ,th.[datwijzig]
      ,[datum]
      ,[seconds]
      ,[old_amount]
	  ,[hour] = [seconds] / 3600.0
	  ,t.taaknr
	  ,t.taaknaam
FROM [dbo].[task_hour] th
inner join dbo.werknemer w ON (w.unid = th.employeeid and w.anaam = 'schure')
inner join dbo.taak t ON (t.unid = th.taskid)
order by datum desc