-- Setting first day of week to monday
--SET DateFirst 1

ALTER VIEW Finance.HoursWritten AS
SELECT 
	 [datum] = CAST(ah.[datum] AS DATE)
	,[year] = datepart(year,ah.[datum])
	,[week] = datepart(week, ah.[datum])
	,[year-week] = CONCAT(datepart(year, ah.[datum]), '-', datepart(week, ah.[datum]))
	,[uur] = CAST(ah.seconds / 3600.0 AS NUMERIC(10,2))
	,[turnover] = CAST(((ah.seconds / 3600.0) * (ut.procent/100.0) * v.uurprijs * ut.declarabel) AS NUMERIC(10,2))
	,p.projectnaam
	,k.bedrijf
	,MaxApprovedPerAssignment.[SubmittedUntilYear]
	,MaxApprovedPerAssignment.[SubmittedUntilWeek]
	,IsSubmitted = CASE WHEN [SubmittedUntilYear] <= datepart(year,ah.[datum]) AND [SubmittedUntilWeek] <= datepart(week, ah.[datum]) THEN 1 ELSE 0 END
	,IsApproved = CASE WHEN DateHoursApproved IS NULL OR DateHoursApproved < ah.datum THEN 0 ELSE 1 END
	,IsBillable = ut.declarabel
	,IsAssignedToInvoice = CASE WHEN ah.[seen_by_invoice_id] IS NULL THEN 0 ELSE 1 END
	,IsInvoiced = ah.[verwerkt_factuur]
	,v.[employeeid]
	,[BusinessUnit] = COALESCE(bu.tekst, 'OGD')
	,[Team] = COALESCE(team.tekst, 'Algemeen')	
	,AssignmentId = v.unid
	,ProjectId = p.unid
FROM [dbo].[assignment_hour] ah
INNER JOIN dbo.voordracht v ON (v.unid = ah.assignmentid)
LEFT JOIN (
	-- LIFT uses the "submit_date" as hours submitted until $date
	-- LIFT uses the "accept_date" as "submitted hours accepted on"
	-- #LIFTLogic
	SELECT distinct
		 [SubmittedUntilYear] = datepart(year, MAX(submitted.submit_date))
		,[SubmittedUntilWeek] = datepart(week, MAX(submitted.submit_date))
		,[SubmittedUntilYear-week] = CONCAT(datepart(year, MAX(submitted.submit_date)), '-', datepart(week, MAX(submitted.submit_date)))
		,submitted.assignmentid
		,DateHoursSubmittedUntil = MAX(CAST(submitted.submit_date AS DATE))
		,DateHoursApproved = MAX(CAST(accepted.accept_date AS DATE))
	FROM [dbo].[registration_assignment_log] submitted	
	LEFT JOIN [dbo].[registration_assignment_log] accepted ON (accepted.assignmentid = submitted.assignmentid AND accepted.dataanmk >= submitted.dataanmk and accepted.submit_date IS NULL)
	where submitted.submit_date IS NOT NULL
	GROUP BY submitted.assignmentid 
) MaxApprovedPerAssignment ON (MaxApprovedPerAssignment.assignmentid = ah.assignmentid)
INNER JOIN dbo.project p ON (p.unid = v.projectid)
INNER JOIN dbo.projectgroep pg ON (pg.unid = p.[projectgroepid])
INNER JOIN dbo.klant k ON (k.unid = pg.klantid)
INNER JOIN dbo.uurtype ut ON (ut.unid = ah.hourtypeid)
INNER JOIN dbo.werknemer w ON (w.unid = v.employeeid)
left join dbo.vrijopzoek bu ON (bu.unid = w.exveld004)
left join dbo.vrijopzoek team ON (team.unid = w.extra_team)
where ah.datum > '2018-01-01' and ah.datum <= (SYSUTCDATETIME() AT TIME ZONE 'Central European Standard Time')
--order by [year] desc, [week] desc