/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
       [bedrijf]
      ,[tel1]
      ,[fax1]
      ,[debnr]
      ,[potnr]
      ,[www]
      ,[email]
      ,[kvknr]
      ,[reknr]
      ,[btwnr]
      ,[straat1]
      ,[nummer1]
      ,[postcode1]
      ,[staat1]
      ,[plaats1]
      ,l.landnaam
FROM [dbo].[klant] k
inner join [dbo].land l ON (l.unid = k.land1id)
where status = 2
order by bedrijf