/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	 [KPI] = '5 - All Employees'
	,Total = COUNT(*)
	,Success = SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END)
	,Failed = SUM(CASE WHEN ValidationStatus = 'Validation Failed' THEN 1 ELSE 0 END)
	,Pending = SUM(CASE WHEN ValidationStatus NOT IN ('Validation Succeeded', 'Validation Failed') THEN 1 ELSE 0 END)
	,ValidationRatio = CAST((1.0 * SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END) / COUNT(*) * 100) AS NUMERIC(10,2))
FROM [MDSCloud].[mdm].[Current_Employee]
UNION
SELECT 
	 [KPI] = '0 - Vast Onbepaald'
	,Total = COUNT(*)
	,Success = SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END)
	,Failed = SUM(CASE WHEN ValidationStatus = 'Validation Failed' THEN 1 ELSE 0 END)
	,Pending = SUM(CASE WHEN ValidationStatus NOT IN ('Validation Succeeded', 'Validation Failed') THEN 1 ELSE 0 END)
	,ValidationRatio = CAST((1.0 * SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END) / COUNT(*) * 100) AS NUMERIC(10,2))
FROM [MDSCloud].[mdm].[Current_Employee]
WHERE ContractType = 'Vast Onbepaald'
UNION
SELECT 
	 [KPI] = '1 - Vast Bepaald'
	,Total = COUNT(*)
	,Success = SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END)
	,Failed = SUM(CASE WHEN ValidationStatus = 'Validation Failed' THEN 1 ELSE 0 END)
	,Pending = SUM(CASE WHEN ValidationStatus NOT IN ('Validation Succeeded', 'Validation Failed') THEN 1 ELSE 0 END)
	,ValidationRatio = CAST((1.0 * SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END) / COUNT(*) * 100) AS NUMERIC(10,2))
FROM [MDSCloud].[mdm].[Current_Employee]
WHERE ContractType = 'Vast Bepaald'
UNION
SELECT 
	 [KPI] = '2 - Oproep'
	,Total = COUNT(*)
	,Success = SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END)
	,Failed = SUM(CASE WHEN ValidationStatus = 'Validation Failed' THEN 1 ELSE 0 END)
	,Pending = SUM(CASE WHEN ValidationStatus NOT IN ('Validation Succeeded', 'Validation Failed') THEN 1 ELSE 0 END)
	,ValidationRatio = CAST((1.0 * SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END) / COUNT(*) * 100) AS NUMERIC(10,2))
FROM [MDSCloud].[mdm].[Current_Employee]
WHERE ContractType = 'Oproep'
UNION
SELECT 
	 [KPI] = '3 - Contractor'
	,Total = COUNT(*)
	,Success = SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END)
	,Failed = SUM(CASE WHEN ValidationStatus = 'Validation Failed' THEN 1 ELSE 0 END)
	,Pending = SUM(CASE WHEN ValidationStatus NOT IN ('Validation Succeeded', 'Validation Failed') THEN 1 ELSE 0 END)
	,ValidationRatio = CAST((1.0 * SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END) / COUNT(*) * 100) AS NUMERIC(10,2))
FROM [MDSCloud].[mdm].[Current_Employee]
WHERE ContractType = 'Contractor'
UNION
SELECT 
	 [KPI] = '4 - Stage'
	,Total = COUNT(*)
	,Success = SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END)
	,Failed = SUM(CASE WHEN ValidationStatus = 'Validation Failed' THEN 1 ELSE 0 END)
	,Pending = SUM(CASE WHEN ValidationStatus NOT IN ('Validation Succeeded', 'Validation Failed') THEN 1 ELSE 0 END)
	,ValidationRatio = CAST((1.0 * SUM(CASE WHEN ValidationStatus = 'Validation Succeeded' THEN 1 ELSE 0 END) / COUNT(*) * 100) AS NUMERIC(10,2))
FROM [MDSCloud].[mdm].[Current_Employee]
WHERE ContractType = 'Stage'

SELECT DISTINCT [DisplayName] FROM [MDSCloud].[mdm].[Current_Employee] WHERE ContractType = '[Not Available]'