/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	   ME.DisplayName
	  ,ME.OrganizationPath_Name
      ,[EntityName]
      ,[ConditionText]
      ,[ActionText]
      ,[BusinessRuleName]
      ,[LastChgUserID] = ME.LIFTLastModifiedBy_Name
      ,[DateCreated]
      ,[DateDue]
FROM [MDSCloud].[mdm].[viw_SYSTEM_9_USER_VALIDATION] V
INNER JOIN [mdm].[Current_Employee] ME ON (ME.[Code] = V.[MemberCode])
WHERE ME.ContractType != 'Oproep' AND (OrganizationPath_Name NOT LIKE '%Bootcamp%' OR OrganizationPath_Code IS NULL) AND ME.ContractDateEnd > SYSUTCDATETIME() AND (IsArchived_Code IS NULL OR IsArchived_Code = 0)
ORDER BY ME.[DisplayName], V.BusinessRuleID