/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Model_Name]
      ,[Entity_Name]
      ,[MemberType_Name]
      ,[BusinessRule_Name]
      ,[BusinessRule_Description] = COALESCE([BusinessRule_Description], '')
      ,[BusinessRule_RuleConditionText]
      ,[BusinessRule_RuleActionText]
      ,[BusinessRule_RuleElseActionText]
      ,[BusinessRule_StatusName]
  FROM [MDSCloud].[mdm].[viw_SYSTEM_SCHEMA_BUSINESSRULES]
  WHERE Model_Name = 'OGD' AND [Entity_Name] = '100 - Employee'