DECLARE @msg nvarchar(255);

raiserror('Setting batch suffix.',0,0)
DECLARE @Date datetime2 = SYSUTCDATETIME();
SET @msg = CONCAT('Batch Suffix: ',@Date)

--TRUNCATE TABLE [MDSCloud].[stg].[Masterdata_Employee_Leaf]
-- Deleting old - successful - records. Leaving errors for further investigation
raiserror('Removing old non-error records from staging table.',0,0)
DELETE FROM [MDSCloud].[stg].[Masterdata_Employee_Leaf] WHERE ImportStatus_ID = 1

raiserror('Inserting HumanResources into staging.',0,0)
INSERT INTO [MDSCloud].[stg].[Masterdata_Employee_Leaf] (
	   [ImportType]
      ,[ImportStatus_ID]
      ,[BatchTag]
	,[Code]
	,[Name] 
    ,[FirstName]
    ,[LastName]
    ,[LastNamePrefixes]
    ,[EmailAddress]
    ,[PostalCode]
    ,[City]
    ,[TelephoneNumber]
    ,[Gender]
    ,[YearOfBirth]
    ,[Function]
    ,[FunctionLevel]
    ,[Manager]
    ,[CareerAdvisor]
    ,[CareerAdvisorDateNextAppointment]
    ,[EmployeeAvailability]
    ,[ContractAvailability]
    ,[ContractAvailabilityPercentage]
    ,[ContractDateStart]
    ,[ContractDateEnd]
    ,[ContractType]
    ,[ContractHasReturnedSignedCopy]
    ,[ContractAdvisedExternalHourlyRate]
    ,[CarHasDriversLicense]
    ,[CarIsOwner]
    ,[EmployeeHasInternalAssignment]
    ,[IsArchived]
    ,[Initials]
    ,[Hash]
	,[LIFTLastModifiedBy]
    ,[OrganizationPath]
    ,[DateLastModified]
	,[UserPrincipalName]
	,[ActiveDirectoryObjectId]
	,[ActiveDirectoryIsEnabled]
	,[WasModificationLift]
	,[WasModificationActiveDirectory]
)
SELECT 
	 2 
	,0
	,CONCAT('INSERT LVL:', Lvl,  ' @ ', FORMAT(@Date, 'yyyy-MM-dd HH:mm:ss'))
	,[Code]
	,[Name] 
    ,[FirstName]
    ,[LastName]
    ,[LastNamePrefixes]
    ,[EmailAddress]
    ,[PostalCode]
    ,[City]
    ,[TelephoneNumber]
    ,[Gender]
    ,[YearOfBirth]
    ,[Function_Code]
    ,[FunctionLevel_Code]
    ,[Manager_Code]
    ,[CareerAdvisor_Code]
    ,[CareerAdvisorDateNextAppointment]
    ,[EmployeeAvailability]
    ,[ContractAvailability]
    ,[ContractAvailabilityPercentage]
    ,[ContractDateStart]
    ,[ContractDateEnd]
    ,[ContractType]
    ,[ContractHasReturnedSignedCopy_Code]
    ,[ContractAdvisedExternalHourlyRate]
    ,[CarHasDriversLicense_Code]
    ,[CarIsOwner_Code]
    ,[EmployeeHasInternalAssignment_Code]
    ,[IsArchived_Code]
    ,[Initials]
    ,[Hash] = CONVERT(NVARCHAR(100), [Hash], 0)
	,[LIFTLastModifiedBy_Code]
    ,[OrganizationPath_Code]
    ,[DateLastModified]
	,[UserPrincipalName]
	,[ActiveDirectoryObjectId]
	,[ActiveDirectoryIsEnabled_Code]
	,[HasModificationLift]
	,[HasModificationActiveDirectory]
FROM [ogdw.database.windows.net_MasterData].[MasterData].[HumanResources].[ResourceHierarchy] RH
WHERE [HasModificationLift] = 1 OR [HasModificationActiveDirectory] = 1
-- Removing records with hash matches and no AD modifications



raiserror('Showing number of records per batch.',0,0)
SELECT 
	 BatchTag
	,EmployeePerOrganizationLevelBatch = COUNT(*)
FROM [MDSCloud].[stg].[Masterdata_Employee_Leaf]
GROUP BY BatchTag


SET NOCOUNT ON;  

DECLARE @BatchTag nvarchar(50)

raiserror('-------- Batch Processor --------',0,0);  

DECLARE batchCursor CURSOR FOR   
SELECT DISTINCT
	 BatchTag
FROM [MDSCloud].[stg].[Masterdata_Employee_Leaf]
WHERE ImportStatus_ID = 0

OPEN batchCursor  

FETCH NEXT FROM batchCursor   
INTO @BatchTag 

WHILE @@FETCH_STATUS = 0  
BEGIN  
    PRINT ' '  
	PRINT 'Processing batch: ' + @BatchTag
	-- Process staging
	EXEC[stg].[udp_Masterdata_Employee_Leaf]  
		  @VersionName = N'VERSION_1',  
		  @LogFlag = 1,  
		  @BatchTag = @BatchTag,
		  @UserName=N'OGD\sys_gert-jans'  

    -- Get the next vendor.  
    FETCH NEXT FROM batchCursor   
    INTO @BatchTag
END   
CLOSE batchCursor;  
DEALLOCATE batchCursor;  

raiserror('Error records per batch.',0 ,0)
SELECT 
	 BatchTag
	,ErrorCount = COUNT(*)
FROM [MDSCloud].[stg].[Masterdata_Employee_Leaf]
WHERE ImportStatus_ID NOT IN (0,1)
GROUP BY BatchTag

raiserror('Running validation.',0 ,0)
DECLARE @ModelName nVarchar(50) = 'OGD'  
DECLARE @EntityName nvarchar(50) = '100 - Employee' 
DECLARE @ModelId int   
DECLARE @EntityId int
DECLARE @UserName nvarchar(50)= 'OGD\sys_gert-jans'   
DECLARE @UserId int   
DECLARE @VersionId int   

SET @UserId = (SELECT *    
                 FROM mdm.tblUser u   
                 WHERE u.UserName = @UserName)   
SET @ModelId = (SELECT Top 1 Model_ID   
                 FROM mdm.viw_SYSTEM_SCHEMA_VERSION   
                 WHERE Model_Name = @ModelName)   
SET @EntityId = (SELECT Top 1 [Entity_ID]  
                 FROM mdm.viw_SYSTEM_SCHEMA_ENTITY  
                 WHERE Model_Name = @ModelName AND [Name] = @EntityName)  
SET @VersionId = (SELECT MAX(ID)   
                 FROM mdm.viw_SYSTEM_SCHEMA_VERSION   
                 WHERE Model_ID = @ModelId) 

SELECT @EntityId
				 
EXEC [mdm].[udpValidateEntity] 
   @User_ID  = @UserId,    
   @Version_ID = @VersionId,    
   @Entity_ID = @EntityId