/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Name]
      ,[Code]
      ,[FirstName]
      ,[LastName]
      ,[LastNamePrefixes]
      ,[Initials]
      ,[PostalCode]
      ,[City]
      ,[Gender]
      ,[YearOfBirth]
      ,[EmailAddress]
      ,[TelephoneNumber]
      ,[BusinessUnit_Code]
      ,[BusinessUnit_Name]
      ,[Team_Code]
      ,[Team_Name]
      ,[Function_Code]
      ,[Function_Name]
      ,[FunctionLevel_Code]
      ,[FunctionLevel_Name]
      ,[Manager_Code]
      ,[Manager_Name]
      ,[CareerAdvisor_Code]
      ,[CareerAdvisor_Name]
      ,[CareerAdvisorDateNextAppointment]
      ,[EmployeeAvailability]
      ,[ContractAvailability]
      ,[ContractAvailabilityPercentage]
      ,[ContractDateStart]
      ,[ContractDateEnd]
      ,[ContractType]
      ,[EmployeeHasInternalAssignment_Code]
      ,[ContractHasReturnedSignedCopy_Code]
      ,[ContractAdvisedExternalHourlyRate]
      ,[CarHasDriversLicense_Code]
      ,[CarIsOwner_Code]
      ,[IsArchived_Code]
      ,[Hash]
      ,[LIFTLastModifiedBy_Code]
      ,[LIFTLastModifiedBy_Name]
      ,[LIFTLastModifiedBy_Desc]
      ,[DateLastModified]
  FROM [MasterData].[Employee]
  WHERE [Name] IN (SELECT [Name] FROM [MasterData].[Employee] GROUP BY [Name] HAVING COUNT(*) > 1)
  order by [Name]