/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TF.[Name]
      ,[Team_Name]
      ,[Function_Name]
	  ,F.[IsArchived_Name]
      ,[ValidationStatus]
FROM [MDSCloud].[mdm].[OGD_Mapp_Team_Func] TF
INNER JOIN [MDSCloud].[mdm].[OGD_Functions] F ON (F.Code = TF.[Function_Code] AND F.LastChgUserName IS NULL and F.[State] = 'Active')
ORDER BY TF.[Name]