/****** Script for SelectTopNRows command from SSMS  ******/
SELECT L.[Name]
      ,L.[BusinessUnit_Name]
      ,L.[Team_Name]
      ,[Dynamics_Name]
      ,Manager_EmpNo = L.[Manager_Name]
      ,Manager_DisplayName = E.[DisplayName]
FROM [MDSCloud].[mdm].[OGD_Hierarchy_BU_Team_Function_Level] L
LEFT JOIN [MDSCloud].[mdm].[OCD_Employee] E ON (E.Code = L.Manager_Code)
WHERE L.LastChgUserName IS NULL AND L.[State] = 'Active'