SELECT DISTINCT
	 E.FirstName
	,E.LastNamePrefixes
	,E.LastName
	,E.ContractType
	,E.BusinessUnit_Name
	,E.Team_Name
FROM [HumanResources].[Employee] E
LEFT JOIN [mdm].[BU_Team] BUT ON (BUT.BusinessUnit_Code = E.BusinessUnit_Code AND BUT.Team_Code = E.Team_Code AND ValidationStatus = 'Validation Succeeded')
WHERE BUT.[Name] IS NULL
ORDER BY BusinessUnit_Name, Team_Name


SELECT 
	 BusinessUnit_Name
	,Team_Name
FROM [mdm].[BU_Team]
ORDER BY BusinessUnit_Name, Team_Name 