/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	 CustomerNumber = RIGHT('0000' + VC.klantnummer, 6)
	 ,VC.klantnummer
	,FullName = NaamKlant
	,AccountManager = AM.Naam
	,ContractManager = CM.Naam
	,ContractOwner = CO.Naam
	,ServiceManager = SM.Naam
	,ContractValue = contractwaarde
	,OnBoardDate = [StartDatum]
	,OffBoardDate = [EinddatumMantelRaamovereenkomst]
	,IsControlModelPresent = [RegiemodelAanwezig]
	,IsControlModelUsed = [RegiemodelUitgevoerd]
	,IsPriceIndexingAllowed = [PrijsindexeringToegestaan]
	,IsAutomaticExtensionAllowed = [StilzwijgendeVerlenging]
	,ExtensionOptions = [VerlengingsoptieValue]
	,IsTerminationForReasonsOfHisOwnAllowed = [BeëindigingOmMoverendeRedenenToegestaan]
	,HasMaximumAccountabilityPrice = [MaximaalBedragAansprakelijkheidBegrensd]
	,IsIndirectDamageAllowed = [IndirecteSchadeToegestaan]
	,HasPenaltyClause = [BoeteclausulesVanToepassing]
	,AreThirdPartiesActive = [DerdePartijenActief]
	,ThirdPartiesAllowed = [InzetDerdePartijenToegestaanValue]
	,HasBonusMalus = CASE WHEN [BonusMalusRegelingAfgesproken] = 'True' THEN 1 ELSE 0 END
	,TermsOfServicesUsed = [AlgemeneVoorwaardenVanToepassingValue]
	,PriceIndexingStart = [PrijsindexeringVanaf]
	,PriceIndexingNext = [EerstvolgendePrijsindexeringPer]
	,PriceIndexingInformCustomerBefore = [PrijsindexeringKlantBerichtenVoor]
	,IsArchived = Gearchiveerd
FROM [ContactManagement].[Verkoopcontracten] VC
LEFT JOIN [Sharepoint].[ListofUsers] AM ON (AM.ID = VC.AccountManagerId)
LEFT JOIN [Sharepoint].[ListOfUsers] CM ON (CM.ID = VC.ManagerContractManagementId)
LEFT JOIN [Sharepoint].[ListOfUsers] CO ON (CO.ID = VC.ContracteigenaarId)
LEFT JOIN [Sharepoint].[ListOfUsers] SM ON (SM.ID = VC.SDMOfCOSOCOId)
WHERE Gearchiveerd = 0 and vc.titel is not null
order by naamklant