;WITH Incidents AS (
	SELECT
		[Team] = CASE
							WHEN FullName IN ('Triple Jump','Aedes','Nibud','KPC Groep','Greenwheels','KNCV Tuberculosefonds','Intravacc','NRG Value','C.R.O.W.') THEN 'MKBO' 
							WHEN FullName IN ('Kennedy Van der Laan','De Jutters','SintLucas','Gemeente Molenwaard','Regio College Zaanstreek-Waterland','Stichting Het Rijnlands Lyceum','Van Hall Larenstein') THEN 'Alpha'
							WHEN Fullname IN ('Accare', 'GGNet') THEN 'Omega'
							WHEN Fullname IN ('Univé','Bouwinvest','Fondsenbeheer','BPD','BIM') THEN 'Sigma'
							ELSE 'Other'
						  END
		,Customer = FullName
		,SupportGroup
		,OGD = CASE WHEN SupportGroup IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'OGD' ELSE 'Non-OGD' END
		,D.[Date]
		,IncidentsCreatedPerDay = COUNT(*)
		,IncidentsCreatedYear = SUM(COUNT(*)) OVER (PARTITION BY FullName, CalendarYear ORDER BY CalendarYear)
		,IncidentsCreatedMonth = SUM(COUNT(*)) OVER (PARTITION BY FullName, CalendarYear, MonthOfYear ORDER BY MonthOfYear)
		,IncidentsCreatedQuarter = SUM(COUNT(*)) OVER (PARTITION BY FullName, CalendarYear, CalendarQuarter ORDER BY CalendarQuarter)
		,IncidentsCreatedSemester = SUM(COUNT(*)) OVER (PARTITION BY FullName, CalendarYear, CalendarSemester ORDER BY CalendarSemester)
		,IncidentsCreatedWeek = SUM(COUNT(*)) OVER (PARTITION BY FullName, CalendarYear, WeekOfYear ORDER BY WeekOfYear)
		,D.CalendarYear
		,D.CalendarSemester
		,D.CalendarQuarter
		,D.MonthOfYear
		,D.WeekOfYear
		,D.[DayOfWeek]
	FROM (
		SELECT
			 IncidentNumber
			,IncidentDate
			,SupportGroup = OperatorGroupStd
			,I.CustomerKey
			,Fullname
		FROM Fact.Incident I
		INNER JOIN DIM.Customer C ON (C.CustomerKey = I.CustomerKey)
		INNER JOIN Dim.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		--WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
		WHERE FullName = 'Kennedy van der Laan'
	) I
	INNER JOIN DIM.[Date] D ON (D.[Date] = I.IncidentDate)
	GROUP BY I.Fullname, D.CalendarYear, D.CalendarSemester, D.CalendarQuarter, D.MonthOfYear, D.WeekOfYear, D.[DayOfWeek], D.[Date], SupportGroup
)
SELECT
	 Label_Year = I.CalendarYear
	,Label_Year_Qarter = CONCAT(I.CalendarYear, ' - Q', CalendarQuarter)
	,Label_Year_Semester = CONCAT(I.CalendarYear, ' - S', CalendarSemester)
	,Label_Year_Month = CONCAT(I.CalendarYear, ' - M', RIGHT('0'+CAST(MonthOfYear AS NVARCHAR(2)),2))
	,Label_Year_Week = CONCAT(I.CalendarYear, ' - W', RIGHT('0'+CAST(WeekOfYear AS NVARCHAR(2)),2))
	,Label_Year_Week = CONCAT(I.CalendarYear, ' - W', RIGHT('0'+CAST(WeekOfYear AS NVARCHAR(2)),2), ' - ', DayOfWeek)
	,Date
	,Customer
	,IncidentsCreatedYear
	,IncidentsCreatedSemester
	,IncidentsCreatedQuarter
	,IncidentsCreatedWeek
	,IncidentsCreatedPerDay
	,IncidentsAverage3year = AVG(IncidentsCreatedYear) OVER (Partition BY Customer ORDER BY CalendarYear)
	,IncidentsAverage3months = AVG(IncidentsCreatedYear) OVER (Partition BY Customer ORDER BY CalendarYear, MonthOfYear)
FROM Incidents I
ORDER BY Team, Customer, CalendarYear, CalendarSemester, CalendarQuarter, MonthOfYear, WeekOfYear, [DayOfWeek]