/****** Script for SelectTopNRows command from SSMS  ******/
;WITH ContractValues(Team, Customer, Estimation) AS (
			SELECT 'MKBO', 'Nibud', 38.
	UNION	SELECT 'MKBO', 'Greenwheels', 30.
	UNION	SELECT 'MKBO', 'C.R.O.W.', 96.
	UNION	SELECT 'MKBO', 'KNCV Tuberculosefonds', 115.
	UNION	SELECT 'MKBO', 'Triple Jump', 150.
	UNION	SELECT 'MKBO', 'Aedes', 20.
	UNION	SELECT 'MKBO', 'Intravacc', 162.
	UNION	SELECT 'MKBO', 'KPC Groep', 25.
	UNION	SELECT 'MKBO', 'NRG Value', 70.
	UNION	SELECT 'Sigma', 'Fondsenbeheer', 265.
	UNION	SELECT 'Sigma', 'BPD', 450.
	UNION	SELECT 'Sigma', 'BIM', 205.
	UNION	SELECT 'Omega', 'Accare', 320.
--	UNION	SELECT 'Omega', 'GGNet', 100.
	UNION	SELECT 'Alpha', 'Van Hall Larenstein', 0.
	UNION	SELECT 'Alpha', 'Stichting Het Rijnlands Lyceum', 160.
	UNION	SELECT 'Network Outsourcing', 'Corbion', 0.
	UNION	SELECT 'Alpha', 'Regio College Zaanstreek-Waterland', 250.
	UNION	SELECT 'Alpha', 'SintLucas', 30.
	UNION	SELECT 'Sigma', 'Bouwinvest', 240.
	UNION	SELECT 'Alpha', 'Gemeente Molenwaard', 0.
	UNION	SELECT 'Alpha', 'Kennedy Van der Laan', 0.
	UNION	SELECT 'Sigma', 'Univé', 0.
	UNION	SELECT 'Alpha', 'De Jutters', 0.
	UNION	SELECT 'Sigma', 'NIBC', 1109.0
	UNION	SELECT 'MKBO', 'MKBO', 0.
	UNION	SELECT 'MKBO', 'Nederlands Openluchtmuseum', 130.0
)
,GroupsOGD(GroupName) AS (
			SELECT 'Systeembeheer'
	UNION	SELECT 'Majormeldingenbeheer'
	UNION	SELECT 'Servicedesk'
	UNION	SELECT 'Systeembeheercoördinatie'
	UNION	SELECT 'Topdesk Applicatiebeheer'
	UNION	SELECT 'Configuratiebeheer'
	UNION	SELECT 'Werkplekbeheercoördinatie'
	UNION	SELECT 'Netwerkbeheer'
	UNION	SELECT 'Procescoördinatie'
	UNION	SELECT 'Technisch Applicatiebeheer'
	UNION	SELECT 'Werkplekbeheer'
)
SELECT 
	 [Team]
	,Customer = CASE WHEN C.Fullname = 'MKBO' THEN 'OGD (MKBO Intern)' ELSE C.Fullname END
	,OperatorGroup = OperatorGroupStd
	,IsOGDGroup = CASE WHEN OG.GroupName IS NOT NULL THEN 1 ELSE 0 END
	,[StatusSTD]
    ,[Priority]
    ,[PrioritySTD]
	,[IncidentTypeSTD]
	,[Impact]
    ,[Category]
	,[SubCategory]
    ,[SubmittedVia] = [EntryTypeSTD]
    ,[IncidentDescription]
	,[DateCreated] = IncidentDate
	,[DateLastChanged] = ChangeDate
	,[DateCompleted] = CompletionDate
	,[DateTargeted] = TargetDate
	,[DateTimeCreated] = CAST(IncidentDate AS DATETIME) + CAST(IncidentTime AS DATETIME)
    ,[DateTimeLastChanged] = CAST(ChangeDate AS datetime) + CAST(ChangeTime AS DATETIME)
	,[DateTimeCompleted] = CAST(CompletionDate AS DATETIME) + CAST(CompletionTime AS DATETIME)
	,[DateTimeTargeted] = CAST(SlaTargetDate AS DATETIME) + CAST(SlaTargetTime AS DATETIME)
    ,[DurationActual]
    ,[DurationOnHold]
    ,[DurationAdjusted]
    ,[IsMajorIncident]
    ,I.[MajorIncident]
	,[IncidentsLinked] = MI.TicketCount
    ,[Line]
    ,[IncidentNumber]
    ,[StandardSolutionUsed] = CASE WHEN StandardSolution IS NOT NULL THEN 1 ELSE 0 END
	,Ranking = DENSE_RANK() OVER (ORDER BY CreationDate, ChangeDate)
FROM [OGDW].[Fact].[Incident] I
-- DW Joins
INNER JOIN DIM.Customer C ON (C.CustomerKey = I.CustomerKey)
INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
-- Query Joins
INNER JOIN ContractValues CV ON (CV.Customer = C.Fullname)
LEFT JOIN GroupsOGD OG ON (OG.GroupName = G.OperatorGroupSTD)
LEFT JOIN (
	SELECT 
		 CustomerKey
		,MajorIncident
		,TicketCount = COUNT(*)
	FROM Fact.Incident
	WHERE MajorIncident IS NOT NULL
	GROUP BY CustomerKey, MajorIncident
) MI ON (MI.CustomerKey = I.CustomerKey AND MI.MajorIncident = I.IncidentNumber)
WHERE I.CompletionDate IS NULL
ORDER BY Ranking, Team, Customer