;WITH ContractValues(Team, Customer, Estimation) AS (
			SELECT 'MKBO', 'Nibud', 38.
	UNION	SELECT 'OGD ICT-Diensten', 'OGD', 666.
	UNION	SELECT 'MKBO', 'Greenwheels', 30.
	UNION	SELECT 'MKBO', 'C.R.O.W.', 96.
	UNION	SELECT 'MKBO', 'KNCV Tuberculosefonds', 115.
	UNION	SELECT 'MKBO', 'Triple Jump', 150.
	UNION	SELECT 'MKBO', 'Aedes', 20.
	UNION	SELECT 'MKBO', 'Intravacc', 162.
	UNION	SELECT 'MKBO', 'KPC Groep', 25.
	UNION	SELECT 'MKBO', 'NRG Value', 70.
	UNION	SELECT 'Sigma', 'Fondsenbeheer', 265.
	UNION	SELECT 'Sigma', 'BPD', 450.
	UNION	SELECT 'Sigma', 'BIM', 205.
	UNION	SELECT 'Omega', 'Accare', 320.
	UNION	SELECT 'Omega', 'GGNet', 100.
	UNION	SELECT 'Alpha', 'Van Hall Larenstein', 0.
	UNION	SELECT 'Alpha', 'Stichting Het Rijnlands Lyceum', 160.
	UNION	SELECT 'Network Outsourcing', 'Corbion', 0.
	UNION	SELECT 'Alpha', 'Regio College Zaanstreek-Waterland', 250.
	UNION	SELECT 'Alpha', 'SintLucas', 30.
	UNION	SELECT 'Sigma', 'Bouwinvest', 240.
	UNION	SELECT 'Alpha', 'Gemeente Molenwaard', 0.
	UNION	SELECT 'Alpha', 'Kennedy Van der Laan', 0.
	UNION	SELECT 'Sigma', 'Univé', 0.
	UNION	SELECT 'Alpha', 'De Jutters', 0.
	UNION	SELECT 'Sigma', 'NIBC', 1109.0
	UNION	SELECT 'MKBO', 'OGD (MKBO Intern)', 0.
	UNION	SELECT 'MKBO', 'Nederlands Openluchtmuseum', 30. * 52 / 12
)
,FirstPass AS (
	SELECT 
		   [Team]
		  ,[Customer]
		  ,OperatorGroupSTD
		  ,CA.OperatorGroupKey
		  ,ChangeKey
		  ,PlannedStartRank
		  ,Level
		  ,[ActivityNumber]
		  ,Status
		  ,ProcessingStatus
		  ,MayStart
		  ,Started
		  ,Skipped
		  ,Resolved
		  ,Rejected
		  ,Approved
		  ,Category
		  ,Subcategory
		  ,BriefDescription
		  ,ChangeBriefDescription
		  ,ActivityTemplate
		  ,ChangePhase
		  ,ChangePhaseStartDate = CAST(ChangePhaseStartDate AS DATE)
		  ,ChangePhaseStartDatetime = ChangePhaseStartDate
		  ,StartedDate
		  ,StartedDatetime = CASE 
								WHEN PlannedStartRank = 1 AND StartedDate IS NULL THEN CAST(CreationDate AS DATETIME) + CAST(CreationTime AS datetime)
								ELSE CAST(StartedDate AS DATETIME) + CAST(StartedTime AS datetime)
							 END
		  ,CreationDate
		  ,CreationDatetime = CAST(CreationDate AS DATETIME) + CAST(CreationTime AS DATETIME)
		  ,ChangeDate
		  ,ChangeDatetime = CAST(ChangeDate AS DATETIME) + CAST(ChangeTime AS DATETIME)
		  ,PlannedFinalDate
		  ,PlannedFinalDatetime = CAST(PlannedFinalDate as datetime) + CAST(PlannedFinaltime as datetime)
		  ,PlannedStartDate
		  ,PlannedStartDatetime = CAST(PlannedStartDate as datetime) + CAST(PlannedStarttime as datetime)
		  ,ResolvedDate
		  ,ResolvedDatetime = CAST(ResolvedDate as datetime) + CAST(Resolvedtime as datetime)
		  ,RejectedDate
		  ,RejectedDatetime = CAST(RejectedDate as datetime) + CAST(RejectedTime as datetime)
		  ,SkippedDate
		  ,SkippedDatetime = CAST(SkippedDate as datetime) + CAST(Skippedtime as datetime)
		  ,FinishedDate = COALESCE(CAST(ResolvedDate as datetime) + CAST(Resolvedtime as datetime), CAST(RejectedDate as datetime) + CAST(RejectedTime as datetime), CAST(SkippedDate as datetime) + CAST(Skippedtime as datetime))
		  ,PreviousCompleted = LAG(COALESCE(CAST(ResolvedDate as datetime) + CAST(Resolvedtime as datetime), CAST(RejectedDate as datetime) + CAST(RejectedTime as datetime), CAST(SkippedDate as datetime) + CAST(Skippedtime as datetime))) OVER (PARTITION BY ChangeKey ORDER BY PlannedStartRank, MayStart DESC, Started DESC, ActivityNumber)
		  ,ChangeCreationDate = MIN(CAST(CreationDate AS DATETIME) + CAST(CreationTime AS DATETIME)) OVER (Partition BY ChangeKey)
		  ,Ranking = RANK() OVER (PARTITION BY ChangeKey ORDER BY PlannedStartRank, MayStart DESC, Started DESC, ActivityNumber)
	FROM [OGDW].[Fact].[ChangeActivity] CA
	inner JOIN DIM.OperatorGroup OG ON (OG.OperatorGroupKey = CA.OperatorGroupKey)
	INNER JOIN DIM.Customer C ON (C.CustomerKey = CA.CustomerKey)
	INNER JOIN ContractValues CV ON (CV.Customer = C.Fullname)
	WHERE ChangeKey != -1
)
SELECT
	 F.*
	,Duration_BusinessDays = CASE WHEN Skipped = 1 THEN NULL
								  WHEN PreviousCompleted IS NOT NULL OR StartedDatetime IS NOT NULL THEN S.NumberOfDays 
								  ELSE NULL END
	,Duration_Days = CASE	WHEN Skipped = 1 THEN NULL
							WHEN PreviousCompleted IS NOT NULL AND StartedDatetime IS NOT NULL AND StartedDatetime < PreviousCompleted THEN
								DATEDIFF(day, starteddatetime, COALESCE(FinishedDate, GETUTCDATE())) 
							WHEN PreviousCompleted IS NOT NULL OR StartedDatetime IS NOT NULL THEN DATEDIFF(day, COALESCE(PreviousCompleted, StartedDatetime), COALESCE(FinishedDate, GETUTCDATE())) 
							ELSE NULL END
	,Waiting_BusinessDays = W.NumberOfDays
	,Waiting_Days = DATEDIFF(day, ChangeCreationDate, COALESCE(FinishedDate, GETUTCDATE()))
FROM FirstPass F
CROSS APPLY (
	SELECT NumberOfDays = COUNT(DISTINCT DateKey) FROM Dim.Date WHERE Date > COALESCE(CASE WHEN F.PreviousCompleted > F.StartedDatetime THEN F.StartedDatetime ELSE F.PreviousCompleted END, F.StartedDateTime) AND Date <= COALESCE(FinishedDate, GETUTCDATE()) AND Holiday = 0 AND DayOfWeek NOT IN (6,7)
) S
CROSS APPLY (
	SELECT NumberOfDays = COUNT(DISTINCT DateKey) FROM Dim.Date WHERE Date > F.ChangeCreationDate AND Date <= COALESCE(PreviousCompleted, FinishedDate, GETUTCDATE()) AND Holiday = 0 AND DayOfWeek NOT IN (6,7)
) W
/* Om de laatste te krijgen
INNER JOIN (
	SELECT
		 ChangeKey
		,ActivityNumber = MIN(ActivityNumber)
	FROM Fact.ChangeActivity 
	WHERE COALESCE(CAST(ResolvedDate as datetime) + CAST(Resolvedtime as datetime), CAST(RejectedDate as datetime) + CAST(RejectedTime as datetime), CAST(SkippedDate as datetime) + CAST(Skippedtime as datetime)) IS NULL AND Skipped = 0 AND Resolved = 0 AND Rejected = 0 AND MayStart = 1
	GROUP BY ChangeKey, StartedDate
) C ON (C.ActivityNumber = F.ActivityNumber AND F.ChangeKey = C.ChangeKey)
*/
--WHERE ChangeKey = 174027
ORDER BY Team, Customer, ChangeKey, PlannedStartRank

--- HEEFT TE MAKEN MET CHANGES DIE ZIJN GESKIPT! Alternatief hiervoor verzinnen, days=0

SELECT
	 C.ChangeKey
	,C.ActivityNumber
	,BriefDescription
FROM Fact.ChangeActivity A
INNER JOIN (
	SELECT
		 ChangeKey
		,ActivityNumber = MIN(ActivityNumber)
	FROM Fact.ChangeActivity 
	WHERE COALESCE(CAST(ResolvedDate as datetime) + CAST(Resolvedtime as datetime), CAST(RejectedDate as datetime) + CAST(RejectedTime as datetime), CAST(SkippedDate as datetime) + CAST(Skippedtime as datetime)) IS NULL AND Skipped = 0 AND Resolved = 0 AND Rejected = 0 AND MayStart = 1
	GROUP BY ChangeKey, StartedDate
) C ON (C.ActivityNumber = A.ActivityNumber AND A.ChangeKey = C.ChangeKey)