/*
SELECT
	 C.Fullname
	,CalendarYear
	,COUNT(*)
FROM Fact.Incident I
INNER JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
INNER JOIN Dim.Date D ON (D.Date = I.IncidentDate)
WHERE FullName IN ('C.R.O.W.','NRG Value','Triple Jump','Aedes','Nibud','Intravacc','KNCV Tuberculosefonds','Greenwheels','KPC Groep','MKBO')
--AND Weeknumber = 47
--AND CalendarYear = 2016
AND IncidentDate BETWEEN '2016-10-30' AND '2016-11-05'
GROUP BY C.Fullname, CalendarYear
ORDER BY CalendarYear DESC
*/

/*
SELECT
	 C.Fullname
	,CalendarYear
	,Weeknumber
	,COUNT(*)
FROM Fact.Incident I
INNER JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
INNER JOIN Dim.Date D ON (D.Date = I.IncidentDate)
WHERE FullName IN ('C.R.O.W.','NRG Value','Triple Jump','Aedes','Nibud','Intravacc','KNCV Tuberculosefonds','Greenwheels','KPC Groep','MKBO')
AND Weeknumber = 44
AND CalendarYear = 2016
GROUP BY C.Fullname, CalendarYear, Weeknumber
ORDER BY CalendarYear DESC, Weeknumber DESC
*/
/*
SELECT
	 Fullname = CASE WHEN C.Fullname = 'MKBO' THEN 'OGD' ELSE C.Fullname END
	,CalendarYear
	,Weeknumber
	,COUNT(*)
FROM Fact.Incident I
INNER JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
INNER JOIN Dim.Date D ON (D.Date = I.CompletionDate)
WHERE FullName IN ('C.R.O.W.','NRG Value','Triple Jump','Aedes','Nibud','Intravacc','KNCV Tuberculosefonds','Greenwheels','KPC Groep','MKBO')
AND Weeknumber = 44
AND CalendarYear = 2016
--AND IncidentTypeSTD IN ('Verstoring', 'Vraag')
GROUP BY C.Fullname, CalendarYear, Weeknumber
ORDER BY Fullname, CalendarYear DESC, Weeknumber DESC
*/
/*
SELECT
	 Fullname = CASE WHEN C.Fullname = 'MKBO' THEN 'OGD (MKBO Intern)' ELSE C.Fullname END
	,TicketCount = COUNT(*)
FROM Fact.Incident I
INNER JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
INNER JOIN Dim.Date D ON (D.Date = I.IncidentDate)
LEFT JOIN Dim.Date G ON (G.Date = I.CompletionDate)
WHERE FullName IN ('C.R.O.W.','NRG Value','Triple Jump','Aedes','Nibud','Intravacc','KNCV Tuberculosefonds','Greenwheels','KPC Groep','MKBO')
AND (D.Weeknumber <= 49 AND (G.CalendarYear = 2016 OR G.CalendarYear IS NULL) AND (G.Weeknumber > 49 OR G.Weeknumber IS NULL))
--GROUP BY C.Fullname--, G.CalendarYear, G.Weeknumber
--ORDER BY Fullname--, G.CalendarYear DESC, G.Weeknumber DESC
*/

;WITH ContractValues(Customer, Estimation) AS (
			SELECT 'Nibud', 38.
	UNION	SELECT 'Greenwheels', 30.
	UNION	SELECT 'C.R.O.W.', 96.
	UNION	SELECT 'KNCV Tuberculosefonds', 115.
	UNION	SELECT 'Triple Jump', 150.
	UNION	SELECT 'Aedes', 20.
	UNION	SELECT 'Intravacc', 162.
	UNION	SELECT 'KPC Groep', 25.
	UNION	SELECT 'NRG Value', 70.
	--UNION	SELECT 'Rabo Vastgoedgroup', 
	UNION	SELECT 'Fondsenbeheer', 265.
	UNION	SELECT 'BPD', 450.
	UNION	SELECT 'BIM', 205.
	UNION	SELECT 'Accare', 320.
	UNION	SELECT 'GGNet', 100.
	UNION	SELECT 'Van Hall Larenstein', 0.
	UNION	SELECT 'Stichting Het Rijnlands Lyceum', 160.
	UNION	SELECT 'Corbion', 0.
	UNION	SELECT 'Regio College Zaanstreek-Waterland', 250.
	UNION	SELECT 'SintLucas', 30.
	UNION	SELECT 'Bouwinvest', 240.
	UNION	SELECT 'Gemeente Molenwaard', 0.
	UNION	SELECT 'Kennedy Van der Laan', 0.
	UNION	SELECT 'Univé', 0.
	--UNION	SELECT 'De Jutters', 0.
	UNION	SELECT 'NIBC', 1109.0
)
,BackLog AS (
	SELECT
		 D.CalendarYear
		,D.MonthOfYear
		,Backlog.Fullname
		,BackLogCount = Count(*)
		,Backlog_OGD = SUM(CASE WHEN OperatorGroupSTD IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 1 ELSE 0 END)
		,Average_Previous3Months = AVG(COUNT(*)) OVER (PARTITION BY FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 4 PRECEDING AND 1 PRECEDING)
		,Average_Previous12Months = AVG(COUNT(*)) OVER (PARTITION BY FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 13 PRECEDING AND 1 PRECEDING)
		,Average_Year = AVG(COUNT(*)) OVER (PARTITION BY FullName, CalendarYear ORDER BY CalendarYear)
		,Average_Overall = AVG(COUNT(*)) OVER (PARTITION BY FullName)
	FROM (
		SELECT DISTINCT 
			 CalendarYear
			,MonthOfYear
		FROM Dim.[Date] D
		WHERE D.Date >= DATEADD(month, -4, DATEFROMPARTS(YEAR(GETUTCDATE()), MONTH(GETUTCDATE()), 1)) AND D.Date <= GETUTCDATE()
	) D
	LEFT JOIN (
		SELECT
			 Fullname = CASE WHEN C.Fullname = 'MKBO' THEN 'OGD (MKBO Intern)' ELSE C.Fullname END
			,CreatedMonth = D.MonthOfYear
			,CreatedYear = D.CalendarYear
			,CreatedWeek = D.Weeknumber
			,CompletedMonth = G.MonthOfYear
			,CompletedYear = G.CalendarYear
			,CompletedWeek = G.Weeknumber
			,IncidentDate
			,CompletionDate
			,OperatorGroupSTD
		FROM Fact.Incident I
		INNER JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
		INNER JOIN Dim.Date D ON (D.Date = I.IncidentDate)
		INNER JOIN Dim.OperatorGroup O ON (O.OperatorGroupKey = I.OperatorGroupKey)
		INNER JOIN ContractValues CV ON (CV.Customer = C.Fullname)
		LEFT JOIN Dim.Date G ON (G.Date = I.CompletionDate)
	) Backlog ON
	(
		(
			-- First case. Year is equal, but number is lower
			(
				Backlog.CreatedYear = D.CalendarYear AND Backlog.CreatedMonth <= D.MonthOfYear
			)
			-- Second case. Year is lower
			OR
			(
				Backlog.CreatedYear < D.CalendarYear
			)
		)
		AND
		(
			-- First Case:
			(
				Backlog.CompletedYear = D.CalendarYear AND Backlog.CompletedMonth > D.MonthOfYear
			)
			OR
			(
				Backlog.CompletedYear > D.CalendarYear
			)
			OR
			(
				Backlog.CompletionDate IS NULL
			)
		)
	)
	GROUP BY CalendarYear, MonthOfYear, Backlog.Fullname
)
,Created AS (
	SELECT
		 Fullname = CASE WHEN C.Fullname = 'MKBO' THEN 'OGD (MKBO Intern)' ELSE C.Fullname END
		,CreatedMonth = D.MonthOfYear
		,CreatedYear = D.CalendarYear
		,Created = COUNT(*)
		,Created_OGD = SUM(CASE WHEN O.OperatorGroupSTD IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 1 ELSE 0 END)
		,P1_TicketsCreated = SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END)
		,P1_Average_Previous3Months = AVG(SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END)) OVER (PARTITION BY C.FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 4 PRECEDING AND 1 PRECEDING)
		,P1_Average_Previous12Months = AVG(SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END)) OVER (PARTITION BY C.FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 13 PRECEDING AND 1 PRECEDING)
		,P1_Average_Year = AVG(SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END)) OVER (PARTITION BY C.FullName, CalendarYear ORDER BY CalendarYear)
		,P1_Average_Overall = AVG(SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END)) OVER (PARTITION BY C.FullName)
		,Average_Previous3Months = AVG(COUNT(*)) OVER (PARTITION BY C.FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 4 PRECEDING AND 1 PRECEDING)
		,Average_Previous12Months = AVG(COUNT(*)) OVER (PARTITION BY C.FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 13 PRECEDING AND 1 PRECEDING)
		,Average_Year = AVG(COUNT(*)) OVER (PARTITION BY C.FullName, CalendarYear ORDER BY CalendarYear)
		,Average_Overall = AVG(COUNT(*)) OVER (PARTITION BY C.FullName)
	FROM Fact.Incident I
	INNER JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
	INNER JOIN Dim.Date D ON (D.Date = I.IncidentDate)
	INNER JOIN Dim.OperatorGroup O ON (O.OperatorGroupKey = I.OperatorGroupKey)
	INNER JOIN ContractValues CV ON (CV.Customer = C.Fullname)
	WHERE D.Date >= DATEADD(month, -4, DATEFROMPARTS(YEAR(GETUTCDATE()), MONTH(GETUTCDATE()), 1)) AND D.Date <= GETUTCDATE()
	GROUP BY Fullname, D.CalendarYear, D.MonthOfYear
)
,Closed AS (
	SELECT
		 Fullname = CASE WHEN C.Fullname = 'MKBO' THEN 'OGD (MKBO Intern)' ELSE C.Fullname END
		,CompletionMonth = D.MonthOfYear
		,CompletionYear = D.CalendarYear
		,Closed = COUNT(*)
		,Closed_OGD = SUM(CASE WHEN O.OperatorGroupSTD IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 1 ELSE 0 END)
		,Average_Previous3Months = AVG(COUNT(*)) OVER (PARTITION BY C.FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 4 PRECEDING AND 1 PRECEDING)
		,Average_Previous12Months = AVG(COUNT(*)) OVER (PARTITION BY C.FullName ORDER BY CalendarYear, D.MonthOfYear ROWS BETWEEN 13 PRECEDING AND 1 PRECEDING)
		,Average_Year = AVG(COUNT(*)) OVER (PARTITION BY C.FullName, CalendarYear ORDER BY CalendarYear)
		,Average_Overall = AVG(COUNT(*)) OVER (PARTITION BY C.FullName)
	FROM Fact.Incident I
	INNER JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
	INNER JOIN Dim.Date D ON (D.Date = I.CompletionDate)
	INNER JOIN Dim.OperatorGroup O ON (O.OperatorGroupKey = I.OperatorGroupKey)
	INNER JOIN ContractValues CV ON (CV.Customer = C.Fullname)
	GROUP BY Fullname, D.CalendarYear, D.MonthOfYear
)
SELECT 
	 Year = COALESCE(C.CreatedYear, O.CompletionYear, B.CalendarYear)
	,Month = COALESCE(C.CreatedMonth, O.CompletionMonth, B.MonthOfYear)
	,PowerBIDate = DATEFROMPARTS(COALESCE(C.CreatedYear, O.CompletionYear, B.CalendarYear),COALESCE(C.CreatedMonth, O.CompletionMonth, B.MonthOfYear),01)
	,[Team] = CASE
					WHEN COALESCE(C.FullName, O.Fullname, B.FullName) IN ('Triple Jump','Aedes','Nibud','KPC Groep','Greenwheels','KNCV Tuberculosefonds','Intravacc','NRG Value','C.R.O.W.') THEN 'MKBO' 
					WHEN COALESCE(C.FullName, O.Fullname, B.FullName) IN ('Kennedy Van der Laan','De Jutters','SintLucas','Gemeente Molenwaard','Regio College Zaanstreek-Waterland','Stichting Het Rijnlands Lyceum','Van Hall Larenstein') THEN 'Alpha'
					WHEN COALESCE(C.FullName, O.Fullname, B.FullName) IN ('Accare', 'GGNet') THEN 'Omega'
					WHEN COALESCE(C.FullName, O.Fullname, B.FullName) IN ('Univé','Bouwinvest','Fondsenbeheer','BPD','BIM') THEN 'Sigma'
					ELSE 'Other'
				END
	,Customer = COALESCE(C.FullName, O.Fullname, B.FullName)
	,[Contract - Created] = CV.Estimation
	,[Created] = C.Created
	,[Created - OGD] = C.Created_OGD
	,[Created - Average - Overall] = C.Average_Overall
	,[Created - Average - Preceding 12 Months] = C.Average_Previous12Months
	,[Created - Average - Preceding 3 Months] = C.Average_Previous3Months
	,[Closed] = O.Closed
	,[Closed - OGD] = O.Closed_OGD
	,[Closed - Average - Overall] = O.Average_Overall
	,[Closed - Average - Preceding 12 Months] = O.Average_Previous12Months
	,[Closed - Average - Preceding 3 Months] = O.Average_Previous3Months
	,[Backlog] = B.BackLogCount
	,[Backlog - OGD] = B.Backlog_OGD
	,[Backlog - Average - Overall] = B.Average_Overall
	,[Backlog - Average - Preceding 12 Months] = B.Average_Previous12Months
	,[Backlog - Average - Preceding 3 Months] = B.Average_Previous3Months
FROM Created C
INNER JOIN ContractValues CV ON (CV.Customer = C.Fullname)
FULL JOIN (
	SELECT * FROM Closed 
	WHERE DATEFROMPARTS(CompletionYear, CompletionMonth, 1) >= DATEADD(month, -4, DATEFROMPARTS(YEAR(GETUTCDATE()), MONTH(GETUTCDATE()), 1)) AND DATEFROMPARTS(CompletionYear, CompletionMonth, 1) <= GETUTCDATE()
)O ON (O.Fullname = C.Fullname AND O.CompletionYear = C.CreatedYear AND O.CompletionMonth = C.CreatedMonth)
FULL JOIN BackLog B ON (B.Fullname = C.Fullname AND B.CalendarYear = C.CreatedYear AND B.MonthOfYear = C.CreatedMonth)
ORDER BY Year, Month, Team, Customer