/****** Script for SelectTopNRows command from SSMS  ******/
SELECT B.Name,
COUNT(*)
FROM [TOPdesk02_ProdM].[dbo].[_incident] I
LEFT JOIN TOPdesk02_ProdM.dbo._branch B ON (B.unid = I.CALLERbranch_id)
WHERE I.creationtime  BETWEEN '2016-10-31' AND '2016-11-06' AND I.typeofcall_id IN ('F7B17EBC-CC53-50E9-A0FF-0040F37B09F9', '28DA70DE-1EE0-570F-B1CA-72656B1F695C')
GROUP BY B.Name
ORDER BY B.Name