/*
SELECT 
	 [SourceDatabaseKey]
	,[TicketType]
	,Month = DATEFROMPARTS(DATEPART(Year, CreationDate), DATEPART(MONTH, CreationDate), 01)
	,Rating = CAST(AVG(Score * 1.0) AS numeric(10,2))
	,Ratings = COUNT(Score)
FROM [Dim].[NiceReply] NR
GROUP BY ROLLUP(SourceDatabaseKey, TicketType, DATEFROMPARTS(DATEPART(Year, CreationDate), DATEPART(MONTH, CreationDate), 01))
*/

SELECT
	 Customer = COALESCE(C.Fullname, I.CustomerName)
	,NR.*
FROM Dim.NiceReply NR
LEFT JOIN (
	SELECT DISTINCT CustomerKey, SourceDatabaseKey, CustomerName
	FROM Fact.Incident
) I ON (I.SourceDatabaseKey = NR.SourceDatabaseKey)
LEFT JOIN Dim.Customer C ON (C.CustomerKey = I.CustomerKey)
WHERE NR.SourceDatabaseKey NOT IN (40)
order by customer, creationdate, creationtime