;WITH CustomerEstimation(Team, CustomerId, vCustomer, Estimation) AS (
			SELECT 'MKBO', 19, 'Nibud', 38.
	UNION	SELECT 'MKBO', 25, 'Greenwheels', 30.
	UNION	SELECT 'MKBO', 18, 'C.R.O.W.', 96.
	UNION	SELECT 'MKBO', 17, 'KNCV Tuberculosefonds', 115.
	UNION	SELECT 'MKBO', 20, 'Triple Jump', 150.
	UNION	SELECT 'MKBO', 24, 'Aedes', 20.
	UNION	SELECT 'MKBO', 22, 'Intravacc', 162.
	UNION	SELECT 'MKBO', 21, 'KPC Groep', 25.
	UNION	SELECT 'MKBO', 23, 'NRG Value', 70.
	--UNION	SELECT 4, 'Rabo Vastgoedgroup', 205.
	UNION	SELECT 'Sigma', 3, 'Fondsenbeheer', 265.
	UNION	SELECT 'Sigma', 7, 'BPD', 450.
	UNION	SELECT 'Sigma', 4, 'BIM', 205.
	UNION	SELECT 'Omega', 1, 'Accare', 320.
	UNION	SELECT 'Omega', 11, 'GGNet', 100.
	UNION	SELECT 'Alpha', 13, 'Van Hall Larenstein', 0.
	UNION	SELECT 'Alpha', 10, 'Stichting Het Rijnlands Lyceum', 0.
	UNION	SELECT 'NetworkTeam', 12, 'Corbion', 0.
	UNION	SELECT 'Alpha', 9, 'Regio College Zaanstreek-Waterland', 0.
	UNION	SELECT 'Alpha', 16, 'SintLucas', 0.
	UNION	SELECT 'Sigma', 6, 'Bouwinvest', 0.
	UNION	SELECT 'Alpha', 14, 'Gemeente Molenwaard', 0.
	UNION	SELECT 'Alpha', 15, 'Kennedy Van der Laan', 0.
	UNION	SELECT 'Sigma', 5, 'Univé', 0.
	--UNION	SELECT 'De Jutters', 0.
)
,TicketDurations AS (
	SELECT 
		 --[DurationAdjusted]
		 --Fullname
		 OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		,DurationAdjusted -- In MINUTES
		,Occurances = COUNT(*)
		--,StdDev = CAST(STDEV(DurationAdjusted) OVER (PARTITION BY C.FullName) AS NUMERIC(10,2))
		,StdDev = CAST(STDEV(DurationAdjusted) OVER(partition by operatorgroupstd) AS NUMERIC(10,2))
		--,Mean = AVG(DurationAdjusted) OVER (PARTITION BY C.FullName)
		,Mean = AVG(DurationAdjusted) OVER (PARTITION BY OperatorGroupSTD)
		,Median = PERCENTILE_CONT(0.5) WITHIN GROUP (order by durationadjusted) OVER (partition by operatorgroupstd)
		,Mode = (SELECT TOP 1 RANK() OVER (Partition by operatorgroupstd ORDER BY COUNT(DurationAdjusted) DESC))
		,Variance = VAR(durationadjusted) over (partition by operatorgroupstd)
		--,[Z-Score] = CAST((SUM(DurationAdjusted) - AVG(SUM(DurationAdjusted)) OVER (PARTITION BY C.FullName)) / STDEV(SUM(DurationAdjusted)) OVER (PARTITION BY C.FullName) AS NUMERIC(10,2))
		,[Z-Score] = CAST((DurationAdjusted - AVG(SUM(DurationAdjusted)) OVER (PARTITION BY OperatorGroupSTD)) / STDEV(SUM(DurationAdjusted)) OVER (PARTITION BY OperatorGroupSTD) AS NUMERIC(10,2))
		,[MedianZ-Score] = CAST((SUM(DurationAdjusted) - AVG(SUM(DurationAdjusted)) OVER (PARTITION BY OperatorGroupSTD)) / STDEV(SUM(DurationAdjusted)) OVER (PARTITION BY OperatorGroupSTD) AS NUMERIC(10,2))

	FROM (
		SELECT
			 DurationAdjusted = CAST(ROUND((CASE WHEN I.DurationAdjusted = 0 THEN 1 ELSE I.DurationAdjusted END) / (1 * 60.0), 0)+1 AS INT)
			,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END, C.FullName FROM [OGDW].[Fact].[Incident] I
		INNER JOIN [OGDW].[Dim].[Customer] C ON (C.CustomerKey = I.CustomerKey)
		INNER JOIN CustomerEstimation E ON (E.Customer = C.Fullname)
		INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE IncidentDate > '2015-12-31' AND IncidentTypeSTD = 'Verstoring' AND DurationAdjusted IS NOT NULL AND DurationAdjusted >= 0
		AND OperatorGroupSTD = 'Servicedesk'
		--AND DurationAdjusted < 13658
	) I
	--GROUP BY FullName, DurationAdjusted
	where OperatorGroupSTD <> 'Overig'
	GROUP BY OperatorGroupSTD, DurationAdjusted
)
SELECT
	 TD.*
--	,DistFunction = (1 / sqrt(2 * pi())) * (exp((-POWER([Z-Score],2) / 2)))
--	,NormDistribution = (1 / (TD.StdDev * sqrt(2*pi()))) * (exp((-POWER(DurationAdjusted - Mean,2) / (2 * Power(StdDev, 2)))))
--	,MedianNormDistribution = (1 / (TD.StdDev * sqrt(2*pi()))) * (exp((-POWER(DurationAdjusted - Median,2) / (2 * Power(StdDev, 2)))))
--	,OccurancesLog10 = LOG10(Occurances)
	,exponental = 1 * exp(-1*durationadjusted)
	,CumulativePercentage = (SUM(Occurances) OVER (Partition BY OperatorGroupSTD ORDER BY DurationAdjusted ROWS UNBOUNDED PRECEDING)) * 1.0 / SUM(Occurances) OVER (Partition by OperatorGroupSTD)
	,ActualPercentage = Occurances * 1.0 / SUM(Occurances) OVER (Partition by OperatorGroupSTD)
	,ParetoScaledY = Occurances / ((SELECT max(Occurances) FROM TicketDurations GROUP BY OperatorGroupSTD) * 1.0)
	,Pareto = 1.0 * 1.04795116020133 / POWER(DurationAdjusted, 1.04795116020133)
	,ParetoCalculated = 1.0 * 1.024390243902 / POWER(DurationAdjusted, 1.024390243902)
	,ParetoScaledX = ((SELECT sum(Occurances) FROM TicketDurations GROUP BY OperatorGroupSTD) * 1.0) * 1.04795116020133 / POWER(DurationAdjusted, 2.04795116020133)
	,ParetoCDF = 1 - (1.0 / DurationAdjusted)
	,ParetoCDF = 1 - POWER((1.0 / DurationAdjusted),2)
	,ParatoCDF910 = 1 - POWER((1.0 / DurationAdjusted),1.95424250943932)
	,ParetoCalculatedAlpha = 1 - POWER((1.0 / DurationAdjusted),1.024390243902)
	,ParetoCalculatedAlpha = 1 - POWER((1.0 / DurationAdjusted), 1.04795116020133)
	,ParetoOccurancesSUM = 1 - Occurances / (((SELECT SUM(Occurances) FROM TicketDurations GROUP BY OperatorGroupSTD) * 1.0) * 1.0)
	,ParetoOccurancesMAX = 1 - Occurances / (((SELECT MAX(Occurances) FROM TicketDurations GROUP BY OperatorGroupSTD) * 1.0) * 1.0)
	--,MeanLogNormDistribution = (1 / (DurationAdjusted * TD.StdDev * sqrt(2*pi()))) * (exp((-POWER(LOG(DurationAdjusted) - Median,2) / (2 * Power(StdDev, 2)))))
	--,MedianLogNormDistribution = (1 / (DurationAdjusted * TD.StdDev * sqrt(2*pi()))) * (exp((-POWER(Log(DurationAdjusted) - Median,2) / (2 * Power(StdDev, 2)))))
	,alpha = 70.0 / SUM(LOG(DurationAdjusted) - LOG(1)) OVER (partition by operatorgroupstd)
	,alpha2 = AVG(DurationAdjusted) OVER (PARTITION BY operatorgroupstd) * 1.0 / (AVG(DurationAdjusted) OVER (partition by operatorgroupstd) - MIN(DurationAdjusted) OVER (Partition by operatorgroupstd))
	,ParetoIndex = LOG10(90)/LOG10(10)
	,ParetoIndex = LOG10(0.1)/LOG10(0.1/0.9)
FROM TicketDurations TD
WHERE DurationAdjusted IS NOT NULL
--ORDER BY Occurances DESC
ORDER BY DurationAdjusted --DESC
--ORDER BY [Z-Score]