/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	 ProjectCreationDate
	,CustomerFullname
	,ProjectName
	,ProjectGroupName
	,ProjectGroupNumber
	,ProductGroup
	,Product
	,Office
	,ProjectStartDate
	,ProjectEndDate
FROM [LIFT_DW].[Dim].[Project] p
inner join dim.Customer c on (c.CustomerKey = p.CustomerKey)
where projectkey not in (SELECT projectkey from dim.nomination) and ProjectStatus IN (0, 1,2)
order by ProjectCreationDate desc