/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	 C.CustomerDebitNumber
	,C.CustomerFullname
	,Pr.ProjectNumber
	,Pr.ProjectGroupName
	,Month = DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01)
	,MonthPlannedTotal = CAST(SUM(PlannedTurnover) AS DECIMAL(10,2))
FROM [Fact].[Planning] P
INNER JOIN DIM.Customer C ON (C.CustomerKey = P.CustomerKey)
INNER JOIN Dim.Project Pr ON (Pr.ProjectKey = P.ProjectKey)
WHERE
	1=1 
	AND C.CustomerFullname = 'Accare' 
	--AND Internal = 0 
	AND DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01) <= DATEFROMPARTS(DATEPART(YEAR, GETUTCDATE()), DATEPART(MONTH, GETUTCDATE()), 01)
	AND DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01) = '2017-01-1'
GROUP BY CustomerDebitNumber, C.CustomerFullname, ProjectNumber, ProjectGroupName, DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01)
ORDER BY ProjectNumber, DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01)