/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	 C.CustomerDebitNumber
	,C.CustomerFullname
	,Pr.ProjectName
	,Month = DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01)
	,MonthPlannedTotal = CAST(SUM(PlannedTurnover) AS DECIMAL(10,2))
FROM [Fact].Hour P
INNER JOIN DIM.Customer C ON (C.CustomerKey = P.CustomerKey)
INNER JOIN Dim.Project Pr ON (Pr.ProjectKey = P.ProjectKey)
GROUP BY CustomerDebitNumber, C.CustomerFullname, ProjectName, DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01)
ORDER BY CustomerDebitNumber, C.CustomerFullName, ProjectName, DATEFROMPARTS(DATEPART(YEAR, PlanningDate), DATEPART(MONTH, PlanningDate), 01)