/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	  debitNumber = C.CustomerDebitNumber
	 ,C.CustomerFullname
	 ,Month = DATEFROMPARTS(DATEPART(YEAR, Day), DATEPART(MONTH, Day), 01)
	 ,S.ProductNomination
--	 ,RateName
--	 ,Rate
--	 ,Percentage
	 ,TotalHours = SUM(Hours)
	 ,MonthWrittenTotal= SUM(Hours  * Rate * (Percentage / 100))
	 ,MonthRealizedTotal= SUM(CASE WHEN Billable = 1 THEN Hours  * Rate * (Percentage / 100) ELSE 0 END)
FROM [Fact].[Hour] H
LEFT JOIN DIM.Customer C ON (C.CustomerKey = H.CustomerKey)
LEFT JOIN DIM.HourType HT ON (HT.HourTypeKey = H.HourTypeKey)
LEFT JOIN DIM.Service S ON (S.ServiceKey = H.ServiceKey)
WHERE CustomerFullname = 'Accare' AND DATEFROMPARTS(DATEPART(YEAR, Day), DATEPART(MONTH, Day), 01) = '2017-01-1'
GROUP BY CustomerDebitNumber, CustomerFullname, DATEFROMPARTS(DATEPART(YEAR, Day), DATEPART(MONTH, Day), 01), S.ProductNomination--,RateName,Rate,Percentage
with rollup
ORDER BY Month