/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 100

	   [CustomerDebitNumber]
      ,[CustomerFullname]
	  ,P.ProjectGroupName
	  ,WorkloadWeekly
	  ,Date
	  ,PlannedTurnoverMonth = CAST(PlannedTurnover * 1.0 / (DATEDIFF(MONTH, PlanningStartDate, PlanningEndDate) + 1) AS DECIMAL(10,2))
	  ,PlannedTurnover
	  ,PlanningStartDate
	  ,PlanningEndDate
FROM [Dim].[Customer] C
LEFT JOIN Dim.Project P ON (P.CustomerKey = C.CustomerKey)
LEFT JOIN Fact.Planning F ON (F.ProjectKey = P.ProjectKey)
INNER JOIN (
	SELECT DISTINCT 
		 Date
	FROM Dim.Date D 
	WHERE D.DayInMonth = 1
) D
ON (D.Date BETWEEN 
			DATEFROMPARTS(DATEPART(YEAR, PlanningStartDate), DATEPART(MONTH, PlanningStartDate), 1) 
			AND DATEFROMPARTS(DATEPART(YEAR, PlanningEndDate), DATEPART(MONTH, PlanningEndDate), 1)
	)
WHERE PlanningStartDate >= '2016-01-01' AND DATEFROMPARTS(DATEPART(YEAR, PlanningEndDate), DATEPART(MONTH, PlanningEndDate), 1) <= GETUTCDATE()
AND ProjectGroupName = 'EU aanbesteding ICT dienstverlening'