/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [EmployeeNumber]
      ,[LastName]
      ,[GivenName]
      ,[Prefixes]
      ,[LastNameFirst]
      ,[FullName]
	  ,Project = STUFF((
					SELECT DISTINCT ', ' + CAST(R.CustomerFullname AS NVARCHAR(MAX))
					FROM (
						SELECT DISTINCT
							   [EmployeeNumber]
							  ,CustomerFullname
						FROM [LIFTDW].[Dim].[Employee] E
						INNER JOIN LIFTDW.Fact.Planning H ON (H.EmployeeKey = E.EmployeeKey)
						INNER JOIN LIFTDW.DIM.Project P ON (P.ProjectKey = h.ProjectKey)
						INNER JOIN [LIFTDW].[Dim].Customer C ON (c.CustomerKey = p.CustomerKey)
						where CustomerActive = 1 and ProjectArchiveDate IS NULL and ProjectStatus > 0 and EmployeeNumber NOT IN ('', '[unknown]') and ProjectEndDate >= GETUTCDATE()
					) R
					WHERE R.EmployeeNumber = E.EmployeeNumber
					FOR XML PATH('')
                ), 1, 2, '' )
FROM [LIFTDW].[Dim].[Employee] E

WHERE EmployeeNumber NOT IN ('', '[unknown]')
ORDER BY EmployeeNumber
/*
LEFT JOIN LIFTDW.Fact.Hour H ON (H.EmployeeKey = E.EmployeeKey)
LEFT JOIN LIFTDW.DIM.Project P ON (P.ProjectKey = h.ProjectKey)
LEFT JOIN [LIFTDW].[Dim].Customer C ON (c.CustomerKey = p.CustomerKey)
where CustomerActive = 1 and ProjectArchiveDate IS NULL and ProjectStatus = 2
*/