-- Team
INSERT INTO MDSCloud.stg.erp_Teams_Leaf([ImportType], [BatchTag], [Code],[Name])
SELECT distinct 
	 [ImportType] = 2 -- Upsert
	,[BatchTag] = SYSUTCDATETIME()
	,[code] = coalesce(extra_team, '00000000-0000-0000-0000-000000000000')
	,[name] = COALESCE(O.tekst, '[No Team]')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek O ON (W.extra_team = O.unid)
where extra_team is not null
order by [name] 

-- Level
INSERT INTO MDSCloud.stg.erp_skillLevel_Leaf([ImportType], [BatchTag], [Code],[Name])
SELECT distinct 
	 [ImportType] = 2 -- Upsert
	,[BatchTag] = SYSUTCDATETIME()
	,[code] = coalesce(extra_niveau, '00000000-0000-0000-0000-000000000000')
	,[name] = COALESCE(O.tekst, '[No Level]')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek O ON (W.extra_niveau = O.unid)
where extra_niveau is not null
order by [name] 

-- Business Unit
INSERT INTO MDSCloud.stg.erp_skillLevel_Leaf([ImportType], [BatchTag], [Code],[Name])
SELECT distinct 
	 [code] = coalesce(exveld004, '00000000-0000-0000-0000-000000000000')
	,[name] = COALESCE(O.tekst, '[No Business Unit]')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek O ON (W.exveld004 = O.unid AND o.kaartcode = 'TBL01EXVELD004')
where w.archiefdatum IS NULL
order by [name] 

-- Function
INSERT INTO MDSCloud.stg.erp_functions_Leaf([ImportType], [BatchTag], [Code],[Name])
SELECT distinct 
     [ImportType] = 2 -- Upsert
	,[BatchTag] = SYSUTCDATETIME()
	,[code] = coalesce(exveld005, '00000000-0000-0000-0000-000000000000')
	,[name] = COALESCE(O.tekst, '[No Function]')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek O ON (W.exveld005 = O.unid AND o.kaartcode = 'TBL01EXVELD005')
where w.archiefdatum IS NULL
order by [name] 

-- BU/Team Hierachy
SELECT distinct 
	 [name] = COALESCE(BU.tekst, '[No Business Unit]')
	,[team] = COALESCE(T.tekst, '[No Team]')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek BU ON (W.exveld004 = BU.unid AND BU.kaartcode = 'TBL01EXVELD004')
LEFT JOIN dbo.vrijopzoek T ON (W.extra_team = T.unid)
where w.archiefdatum IS NULL
order by [name], [team]

SELECT distinct 
	 [name] = COALESCE(BU.tekst, '[No Business Unit]')
	,[team] = COALESCE(T.tekst, '[No Team]')
	,[level] = COALESCE(L.tekst, '[No Level]')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek BU ON (W.exveld004 = BU.unid AND BU.kaartcode = 'TBL01EXVELD004')
LEFT JOIN dbo.vrijopzoek T ON (W.extra_team = T.unid)
LEFT JOIN dbo.vrijopzoek L ON (W.extra_niveau = L.unid)
where w.archiefdatum IS NULL
order by [name], [team], [level]

SELECT distinct 
	 [name] = COALESCE(BU.tekst, '[No Business Unit]')
	,[team] = COALESCE(T.tekst, '[No Team]')
	,[function] = COALESCE(F.tekst, '[No Level]')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek BU ON (W.exveld004 = BU.unid AND BU.kaartcode = 'TBL01EXVELD004')
LEFT JOIN dbo.vrijopzoek T ON (W.extra_team = T.unid)
LEFT JOIN dbo.vrijopzoek F ON (W.exveld005 = F.unid)
where w.archiefdatum IS NULL
order by [name], [team], [function]

INSERT INTO MDSCloud.stg.erp_hierarchy_BU_Team_Function_Level_Leaf([ImportType], [BatchTag],[Name],[BusinessUnit],[Team],[Function],[SkillLevel])
SELECT distinct      
	 [ImportType] = 2 -- Upsert
	,[BatchTag] = SYSUTCDATETIME()
	,[name] = CONCAT(COALESCE(BU.tekst, '[No Business Unit]'), '-', COALESCE(T.tekst, '[No Team]'), '-', COALESCE(F.tekst, '[No Function]'), '-', COALESCE(L.tekst, '[No Level]'))
	,[BusinessUnit] = COALESCE(w.exveld004, '00000000-0000-0000-0000-000000000000')
	,[team] = COALESCE(w.extra_team, '00000000-0000-0000-0000-000000000000')
	,[function] = COALESCE(w.exveld005, '00000000-0000-0000-0000-000000000000')
	,[level] = COALESCE(w.extra_niveau, '00000000-0000-0000-0000-000000000000')
FROM [DWHPROD01_LIFT_Archive].[dbo].[werknemer] W
LEFT JOIN dbo.vrijopzoek BU ON (W.exveld004 = BU.unid AND BU.kaartcode = 'TBL01EXVELD004')
LEFT JOIN dbo.vrijopzoek T ON (W.extra_team = T.unid)
LEFT JOIN dbo.vrijopzoek F ON (W.exveld005 = F.unid)
LEFT JOIN dbo.vrijopzoek L ON (W.extra_niveau = L.unid)
where w.archiefdatum IS NULL
order by [name], [team], [function], [level]

INSERT INTO MDSCloud.stg.erp_customers_leaf([ImportType], [BatchTag],[code],[Name])
SELECT distinct      
	 [ImportType] = 2 -- Upsert
	,[BatchTag] = SYSUTCDATETIME()
	,[code] = debnr
	,[name] = klant.bedrijf
FROM [DWHPROD01_LIFT_Archive].[dbo].[klant]
where debnr != '' and archiefdatum IS NULL and [status] = 2
order by code

/*
INSERT INTO MDSCloud.stg.erp_customers_leaf([ImportType], [BatchTag],[code],[Name])
SELECT 2,12, '001013.025', 'Co-Sourcing'
UNION
SELECT 2,12, '001013.060', 'MKBO'
UNION
SELECT 2,12, '001013.064', '1ICT'
*/