/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProjectNumber]
      ,[ProjectName]
      ,[ProductGroup]
      ,[Product]
      ,[Office]
	  ,[Function]
	  ,[Day]
	  ,[TotalHours] = SUM([Hours])
	  ,[Responsibility] = CASE WHEN [ProjectName] LIKE 'CDO%' THEN 'Data Office' ELSE 'BI&R' END
FROM [Dim].[Project] P
INNER JOIN [Fact].[Hour] H ON (H.ProjectKey = P.ProjectKey)
INNER JOIN [Dim].[Employee] E ON (E.EmployeeKey = H.EmployeeKey)
WHERE ProjectName LIKE 'CDO%' or projectname like 'OGD Dataplatform%' or projectname like '%rapportageplatform%'
GROUP BY [ProjectNumber], [ProjectName], [ProductGroup], [Product], [Office], [Function], [Day]

SELECT [ProjectNumber]
      ,[ProjectName]
      ,[ProductGroup]
      ,[Product]
      ,[Office]
	  ,[Function]
	  ,[Day]
	  ,[TotalHours] = SUM([Hours])
FROM [Dim].[Project] P
INNER JOIN [Fact].[Hour] H ON (H.ProjectKey = P.ProjectKey)
INNER JOIN [Dim].[Employee] E ON (E.EmployeeKey = H.EmployeeKey)
WHERE ProjectName LIKE 'CDO%'
GROUP BY [ProjectNumber], [ProjectName], [ProductGroup], [Product], [Office], [Function], [Day]

select distinct product, projectname, office from dim.project where projectname like 'OGD Dataplatform%' or projectname like '%rapportageplatform%'

SELECT [ProjectNumber]
      ,[ProjectName]
      ,[ProductGroup]
      ,[Product]
      ,[Office]
	  ,[Function]
	  ,[Day]
	  ,E.EmployeeKey
	  ,[TotalHours] = SUM([Hours])
	  ,[Responsibility] = CASE WHEN [ProjectName] LIKE 'CDO%' THEN 'Data Office' ELSE 'BI&R' END
FROM [Dim].[Project] P
INNER JOIN [Fact].[Hour] H ON (H.ProjectKey = P.ProjectKey)
INNER JOIN [Dim].[Employee] E ON (E.EmployeeKey = H.EmployeeKey)
WHERE ProjectName LIKE 'CDO%' or projectname like 'OGD Dataplatform%' or projectname like '%rapportageplatform%'
GROUP BY [ProjectNumber], [ProjectName], [ProductGroup], [Product], [Office], [Function], [Day], E.EmployeeKey