/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	   [CreatedDuringDepartment] = CASE WHEN CreationDate < '2018-07-09' THEN 'BI&R' ELSE 'Data Office' END
	  ,[ClosedByDepartment] = CASE WHEN CompletionDate < '2018-07-09' THEN 'BI&R' ELSE 'Data Office' END
	  ,*
FROM [Fact].[Incident] I
INNER JOIN [Dim].[Customer] C ON (C.CustomerKey = I.CustomerKey and C.DebitNumber = '001013')
INNER JOIN [Dim].[OperatorGroup] O ON (O.OperatorGroupKey = I.OperatorGroupKey and (O.OperatorGroup LIKE 'DO - %' OR O.OperatorGroup LIKE 'Business%'))
WHERE I.SourceDatabaseKey = 20
order by [CreationDate], [CompletionDate], [CreatedDuringDepartment], [ClosedByDepartment]

SELECT 
	   [CreatedDuringDepartment] = CASE WHEN CreationDate < '2018-07-09' THEN 'BI&R' ELSE 'Data Office' END
	  ,[ClosedByDepartment] = CASE WHEN CompletionDate < '2018-07-09' THEN 'BI&R' ELSE 'Data Office' END
	  ,I.*
FROM [Fact].[Change] I
INNER JOIN [Dim].[Customer] C ON (C.CustomerKey = I.CustomerKey and C.DebitNumber = '001013')
WHERE 
I.SourceDatabaseKey = 20 
AND (
	(I.Coordinator LIKE 'DO - %' OR I.Coordinator LIKE 'Business%')
	OR
	Change_ID IN (
		select distinct
		   [ChangeKey]
		from fact.changeactivity I
		INNER JOIN [Dim].[OperatorGroup] O ON (O.OperatorGroupKey = I.OperatorGroupKey and (O.OperatorGroup LIKE 'DO - %' OR O.OperatorGroup LIKE 'Business%'))
		WHERE I.SourceDatabaseKey = 20
	)
)
order by [CreationDate], [CompletionDate], [CreatedDuringDepartment], [ClosedByDepartment]

select
	   [CreatedDuringDepartment] = CASE WHEN CreationDate < '2018-07-09' THEN 'BI&R' ELSE 'Data Office' END
	  ,[ClosedByDepartment] = CASE WHEN COALESCE(ResolvedDate, SkippedDate) < '2018-07-09' THEN 'BI&R' ELSE 'Data Office' END
	  ,*
from fact.changeactivity I
INNER JOIN [Dim].[OperatorGroup] O ON (O.OperatorGroupKey = I.OperatorGroupKey and (O.OperatorGroup LIKE 'DO - %' OR O.OperatorGroup LIKE 'Business%'))
WHERE I.SourceDatabaseKey = 20
order by [CreationDate], [ResolvedDate], [CreatedDuringDepartment], [ClosedByDepartment]
