;With PartA AS (
	SELECT
		 C.Fullname 
		,QueueDuration
		,Frequency = Count(*)
		,SQLStdDev = STDEV(QueueDuration) OVER ()
		,RollingPercentage = SUM(COUNT(*)) OVER (PARTITION BY C.FullName ORDER BY QueueDuration ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) * 1.0 / SUM(COUNT(*)) OVER ()
	FROM [OGDW].[Fact].[Call] CL
	INNER JOIN DIM.Customer C ON (C.CustomerKey = CL.CustomerKey)
	WHERE C.Fullname = 'Aedes'
	GROUP BY C.FullName, QueueDuration
)
SELECT 
	 A.*
	,Mode = (SELECT TOP 1 QueueDuration FROM PartA ORDER BY Frequency DESC)
	,StdDev = sqrt(SUM(POWER(QueueDuration - (SELECT TOP 1 QueueDuration FROM PartA ORDER BY Frequency DESC),2)) OVER () / COUNT(*) OVER())
FROM PartA A
ORDER BY QueueDuration