IF OBJECT_ID('tempdb.dbo.#tmp', 'U') IS NOT NULL
  DROP TABLE #tmp; 

SELECT
	O.*
INTO #tmp
FROM Sales.OrderLines O
INNER JOIN (
	SELECT OrderLineId, OrderId
	FROM Sales.OrderLines
	GROUP BY OrderLineId, OrderId
	HAVING COUNT(*) > 1
) M ON (M.OrderID = O.OrderID AND M.OrderLineID = O.OrderLineID)

SELECT DISTINCT * FROM #tmp

BEGIN TRAN
DELETE O
FROM Sales.OrderLines O
INNER JOIN (
	SELECT OrderLineId, OrderId
	FROM Sales.OrderLines
	GROUP BY OrderLineId, OrderId
	HAVING COUNT(*) > 1
) M ON (M.OrderID = O.OrderID AND M.OrderLineID = O.OrderLineID)

INSERT INTO Sales.OrderLines
SELECT DISTINCT * FROM #TMP

SELECT
	O.*
--INTO #tmp
FROM Sales.OrderLines O
INNER JOIN (
	SELECT OrderLineId, OrderId
	FROM Sales.OrderLines
	GROUP BY OrderLineId, OrderId
	HAVING COUNT(*) > 1
) M ON (M.OrderID = O.OrderID AND M.OrderLineID = O.OrderLineID)

SELECT
	O.*
--INTO #tmp
FROM Sales.OrderLines O
INNER JOIN (
	SELECT DISTINCT * FROM #tmp
) M ON (M.OrderID = O.OrderID AND M.OrderLineID = O.OrderLineID)
ROLLBACK  