SELECT
	  C.Fullname
	 ,I.IncidentDescription
	 ,I.IncidentDate
	 ,I.PrioritySTD
	 ,I.Category
	 ,I.Subcategory
FROM [OGDW].[Fact].[Incident] I
INNER JOIN (
	SELECT FullName, CustomerKey
	FROM DIM.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
) C ON (C.CustomerKey = I.CustomerKey) 
WHERE IncidentDescription LIKE '%Cryptolocker%'
ORDER BY IncidentDate DESC