-- Declare Cursor
DECLARE CUR cursor FOR
	SELECT DISTINCT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.COLUMNS
	WHERE COLUMN_NAME = 'LastEditedWhen'

-- DECLARE Cursor Parameters
DECLARE @Schema sysname, @Table sysname
DECLARE @Date date = '20150101'

IF OBJECT_ID('tempdb.dbo.#tmp', 'U') IS NOT NULL
  DROP TABLE #tmp; 

CREATE TABLE #tmp (
	[table] nvarchar(50),
	[count] int
)

-- OPEN Cursor
OPEN CUR
FETCH NEXT FROM CUR INTO @Schema, @Table
WHILE @@FETCH_STATUS = 0 
BEGIN
	-- DECLARE @cnt int

	--EXEC sproc @Table=... @Schema=... @Cnt OUTPUT
	-- INSERT INTO #tmp VALUES ([table], [count]) VALUES (@table, @cnt)
	DECLARE @sql NVARCHAR(255) = N'
		INSERT INTO #tmp
		SELECT ''' + @Schema + '.' + @Table + ''', COUNT(*) ' + QUOTENAME('Count_From_' + @Table) + '
		FROM ' + QUOTENAME(@Schema) + '.' + QUOTENAME(@Table) + '
		WHERE LastEditedWhen > @Date';
	EXEC sp_executeSQL @sql, N'@Date date', @Date = @Date

	FETCH NEXT FROM CUR INTO @Schema, @Table
END
CLOSE CUR
DEALLOCATE CUR
SELECT * FROM #tmp