/*
SELECT 
	  TicketType = 'Incidents'
	 ,CustomersLoaded = STUFF((
				SELECT ', ' + CAST(C.FullName AS NVARCHAR(MAX))
				FROM [OGDW].[Fact].Incident P
				INNER JOIN DIM.CUstomer C ON (C.CustomerKey = P.CustomerKey)
				WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
				GROUP BY  C.Fullname
				FOR XML PATH('')
            ), 1, 2, '' )
UNION
SELECT
	  TicketType = 'Changes'
	 ,CustomersLoaded = STUFF((
				SELECT ', ' + CAST(C.FullName AS NVARCHAR(MAX))
				FROM [OGDW].[Fact].Change P
				INNER JOIN DIM.CUstomer C ON (C.CustomerKey = P.CustomerKey)
				WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
				GROUP BY  C.Fullname
				FOR XML PATH('')
            ), 1, 2, '' )
UNION 
SELECT
	  TicketType = 'Problems'
	 ,CustomersLoaded = STUFF((
				SELECT ', ' + CAST(C.FullName AS NVARCHAR(MAX))
				FROM [OGDW].[Fact].Problem P
				INNER JOIN DIM.CUstomer C ON (C.CustomerKey = P.CustomerKey)
				WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
				GROUP BY  C.Fullname
				FOR XML PATH('')
            ), 1, 2, '' )
*/

SELECT
	[Team] = CASE
						WHEN C.FullName IN ('Triple Jump','Aedes','Nibud','KPC Groep','Greenwheels','KNCV Tuberculosefonds','Intravacc','NRG Value','C.R.O.W.') THEN 'MKBO' 
						WHEN C.FullName IN ('Kennedy Van der Laan','De Jutters','SintLucas','Gemeente Molenwaard','Regio College Zaanstreek-Waterland','Stichting Het Rijnlands Lyceum','Van Hall Larenstein') THEN 'Alpha'
						WHEN C.Fullname IN ('Accare', 'GGNet') THEN 'Omega'
						WHEN C.Fullname IN ('Univé','Bouwinvest','Fondsenbeheer','BPD','BIM') THEN 'Sigma'
						ELSE 'Other'
					  END
	,FullName
	,IncidentsLoaded = COALESCE(IncidentsLoaded, 'No')
	,ChangesLoaded = COALESCE(ChangesLoaded, 'No')
	,ProblemsLoaded = COALESCE(ProblemsLoaded, 'No')
FROM DIM.Customer C
LEFT JOIN (
	SELECT IncidentsLoaded = CASE WHEN COUNT(*) > 0 THEN 'Yes' ELSE 'No' END, CustomerKey FROM Fact.Incident GROUP BY CustomerKey
) I ON (I.CustomerKey = C.CustomerKey)
LEFT JOIN (
	SELECT ChangesLoaded = CASE WHEN COUNT(*) > 0 THEN 'Yes' ELSE 'No' END, CustomerKey FROM Fact.Change GROUP BY CustomerKey
) W ON (W.CustomerKey = C.CustomerKey)
LEFT JOIN (
	SELECT ProblemsLoaded = CASE WHEN COUNT(*) > 0 THEN 'Yes' ELSE 'No' END, CustomerKey FROM Fact.Problem GROUP BY CustomerKey
) P ON (P.CustomerKey = C.CustomerKey)
WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
ORDER BY Team, FullName