/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	 [naam]
	--,[verzoek] = CONCAT('"', [verzoek], '"')
	,[verzoek]
FROM [dbo].[incident]
where ref_operatorgroup = 'DYNAMICS' AND Gereed = 0
ORDER BY [naam] ASC