/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT OrderID
FROM [WideWorldImporters].[Sales].[OrderLines]
WHERE OrderID NOT IN (SELECT OrderID FROM [WideWorldImporters].Sales.Orders)

SELECT O.OrderID, OrderLineCount
FROM [WideWorldImporters].Sales.Orders O
LEFT JOIN (
	SELECT OrderId, OrderLineCount = COUNT(*)
	FROM Sales.OrderLines
	GROUP BY OrderId
) L ON (L.OrderId = O.OrderID)
WHERE OrderLineCount IS NULL