SELECT
	 [Schema] = T.TABLE_SCHEMA      
	,[Table] = T.TABLE_NAME
    ,[Columns] = STUFF((
					SELECT ', ' + CAST(C.COLUMN_NAME AS NVARCHAR(MAX))
					FROM INFORMATION_SCHEMA.COLUMNS C
					WHERE C.TABLE_NAME = T.TABLE_NAME
					ORDER BY C.ORDINAL_POSITION
					FOR XML PATH('')
                ), 1, 2, '' )
FROM INFORMATION_SCHEMA.Tables T
WHERE T.TABLE_TYPE = 'BASE TABLE'
ORDER BY T.TABLE_SCHEMA, T.TABLE_NAME