/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
	 [Team] = CASE
						WHEN C.FullName IN ('Triple Jump','Aedes','Nibud','KPC Groep','Greenwheels','KNCV Tuberculosefonds','Intravacc','NRG Value','C.R.O.W.') THEN 'MKBO' 
						WHEN C.FullName IN ('Kennedy Van der Laan','De Jutters','SintLucas','Gemeente Molenwaard','Regio College Zaanstreek-Waterland','Stichting Het Rijnlands Lyceum','Van Hall Larenstein') THEN 'Alpha'
						WHEN C.Fullname IN ('Accare', 'GGNet') THEN 'Omega'
						WHEN C.Fullname IN ('Univé','Bouwinvest','Fondsenbeheer','BPD','BIM') THEN 'Sigma'
						ELSE 'Other'
					  END
	,C.Fullname
	--,G.OperatorGroupSTD
	,[Year] = DATEPART(YEAR, IncidentDate)
	,IncCount = COUNT(*)
	,P1Count = SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END)
	,Ratio = CASE WHEN SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END) = 0 THEN 0 ELSE CAST(COUNT(*) / CAST(SUM(CASE WHEN PrioritySTD = 'P1' THEN 1 ELSE 0 END) AS FLOAT) AS numeric(10,2)) END
FROM [OGDW].[Fact].[Incident] I 
INNER JOIN DIM.Customer C ON (C.CustomerKey = I.CustomerKey)
INNER JOIN Dim.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
WHERE C.Fullname IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
--AND IncidentDescription LIKE '%database%'
--AND DATEPART(YEAR, IncidentDate) = 2016
GROUP BY C.Fullname, DATEPART(YEAR, IncidentDate)
--ORDER BY IncidentDate DESC
ORDER BY Team, Fullname, [Year]
--AND  PrioritySTD = 'P1'