declare @SQL nvarchar(max)
declare @table_name sysname
declare @table_schema sysname
declare @source_server sysname = 'DWH-PROD01.OGD.LOCAL'
declare @source_database sysname = 'OGDW_AM'
declare @versioned bit = 0

-- Fetching all non-history tables
declare T cursor  for
	select DISTINCT table_name, table_schema
	from INFORMATION_SCHEMA.TABLES 
	where 
		table_schema != 'history' 
		AND Table_type = 'BASE TABLE' 
		and table_name in (
			SELECT name
			FROM   sys.tables
			where temporal_type = 0
		)
	order by TABLE_SCHEMA, TABLE_NAME
open T

fetch next from T into @table_name, @table_schema
while @@FETCH_STATUS = 0
begin
	PRINT 'Processing: ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + ';'
	IF @versioned = 1 BEGIN
		BEGIN TRY
			SET @SQL = 'ALTER TABLE ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + ' SET (SYSTEM_VERSIONING = OFF);' 
			EXEC(@SQL)
		END TRY
		BEGIN CATCH
			PRINT 'System version already disabled. Don''t care'
		END CATCH
		BEGIN TRY 
			SET @SQL = 'ALTER TABLE ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + ' DROP PERIOD FOR SYSTEM_TIME;'
			EXEC(@SQL)
		END TRY
		BEGIN CATCH
			PRINT 'System version period already Removed. Don''t care'
		END CATCH
	END

	-- TRUNCATING ALL DATA IN ORIGINAL TABLE
	SET @SQL = 'TRUNCATE TABLE ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + ';'
	EXEC(@SQL)


	-- Fetching and inserting data. This might take a while
	PRINT 'Fetching & Inserting data'
	SET @SQL  = 'INSERT INTO ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + char(10)
	SET @SQL += 'SELECT * FROM ' + QUOTENAME(@source_server) + '.' + QUOTENAME(@source_database) + '.' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name)
	EXEC(@SQL)
	
	IF @versioned = 1 BEGIN
		PRINT 'Adding System Period: ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + ';'
		-- TRUNCATING ALL DATA IN ORIGINAL TABLE
		SET @SQL = 'ALTER TABLE ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + ' ADD PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo]);'
		EXEC(@SQL)

		-- Fetching and inserting data. This might take a while
		PRINT 'Enabling versioning'
		SET @SQL  = 'ALTER TABLE ' + QUOTENAME(@table_schema) + '.' + QUOTENAME(@table_name) + ' SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE = history.' + quotename(@table_name) + ', DATA_CONSISTENCY_CHECK = ON));'
		EXEC(@SQL)
	END
	
	SET @SQL = ''

fetch next from T into @table_name, @table_schema
end

close T
deallocate T