/****** Object:  StoredProcedure [Load].[usp_FactRoster]    Script Date: 21-8-2018 11:39:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- Generating statement ---
--- PARAMS: Dim.AbsenceReason ---
ALTER PROCEDURE [Load].[usp_FactRoster] (
	@SerializedJson nvarchar(max)
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @JSON nvarchar(max);
	SET @JSON = @SerializedJson;

	MERGE [Fact].[Roster] T
	USING (
		SELECT 
			 J.[SourceId]
			,[EmployeeKey] = COALESCE(E.[Key], -1)
			,[Date]
			,[Rosterline]
			,[ShiftKey] = COALESCE(S.[Key], -1)
			,[AbsenceReasonKey] = COALESCE(A1.[Key], -1)
			,[PeriodeAbsenceReasonKey] = COALESCE(A2.[Key], -1)
			,[ResourceGroupKey] = COALESCE(R1.[Key], -1)
			,[OverRulingResourceGroupKey] = COALESCE(R2.[Key], -1)
			,[PlannedPropKey] = COALESCE(PO1.[Key], -1)
			,[MainPropKey] = COALESCE(PO2.[Key], -1)
			,[ContractKey] = COALESCE(C.[Key], -1)
			,[TimeTypeKey] = COALESCE(T.[Key], -1)
			,[nr]
			,[RosterDaypartCount]
			,[Phase]
			,[StartTime]
			,[EndTime]
		FROM OPENJSON(@JSON) 
		WITH (		
			[SourceId] INT '$.SourceId',
			[EmployeeSourceId] INT '$.EmployeeSourceId',
			[Date] DATE '$.Date',
			[Rosterline] INT '$.Rosterline',
			[ShiftSourceId] INT '$.ShiftSourceId',
			[AbsenceReasonSourceId] INT '$.AbsenceReasonSourceId',
			[PeriodeAbsenceReasonSourceId] INT '$.PeriodeAbsenceReasonSourceId',
			[ResourceGroupSourceId] INT '$.ResourceGroupSourceId',
			[OverRulingResourceGroupSourceId] INT '$.OverRulingResourceGroupSourceId',
			[PlannedPropSourceId] INT '$.PlannedPropSourceId',
			[MainPropSourceId] INT '$.MainPropSourceId',
			[ContractSourceId] INT '$.ContractSourceId',
			[TimeTypeSourceId] INT '$.TimeTypeSourceId',
			[nr] INT '$.nr',
			[RosterDaypartCount] INT '$.RosterDaypartCount',
			[Phase] NCHAR(1) '$.Phase',
			[StartTime] TIME '$.StartTime',
			[EndTime] TIME '$.EndTime'	
		) J
		LEFT JOIN [Dim].[Employee] E ON (E.SourceId = J.EmployeeSourceId AND E.IsCurrent = 1)
		LEFT JOIN [Dim].[Shift] S ON (S.SourceId = J.ShiftSourceId AND S.IsCurrent = 1)
		LEFT JOIN [Dim].[AbsenceReason] A1 ON (A1.SourceId = J.AbsenceReasonSourceId AND A1.IsCurrent = 1)
		LEFT JOIN [Dim].[AbsenceReason] A2 ON (A2.SourceId = J.PeriodeAbsenceReasonSourceId AND A2.IsCurrent = 1)
		LEFT JOIN [Dim].[ResourceGroup] R1 ON (R1.SourceId = J.ResourceGroupSourceId AND R1.IsCurrent = 1)
		LEFT JOIN [Dim].[ResourceGroup] R2 ON (R2.SourceId = J.OverRulingResourceGroupSourceId AND R2.IsCurrent = 1)
		LEFT JOIN [Dim].[TimeType] T ON (T.SourceId = J.TimeTypeSourceId AND T.IsCurrent = 1)
		LEFT JOIN [Dim].[Property] PO1 ON (PO1.SourceId = J.PlannedPropSourceId AND PO1.IsCurrent = 1)
		LEFT JOIN [Dim].[Property] PO2 ON (PO2.SourceId = J.MainPropSourceId AND PO2.IsCurrent = 1)
		LEFT JOIN [Dim].[ContractType] C ON (C.SourceId = J.ContractSourceId AND C.IsCurrent = 1)
	) S
	ON (T.SourceId = S.SourceId AND T.[Date] = S.[Date])
	WHEN NOT MATCHED THEN
		INSERT ([SourceId],[EmployeeKey],[Date],[Rosterline],[ShiftKey],[AbsenceReasonKey],[PeriodeAbsenceReasonKey],[ResourceGroupKey],[OverRulingResourceGroupKey],[PlannedPropKey],[MainPropKey],[ContractKey],[TimeTypeKey],[nr],[RosterDaypartCount],[Phase],[StartTime],[EndTime])
		VALUES (S.[SourceId],S.[EmployeeKey],S.[Date],S.[Rosterline],S.[ShiftKey],S.[AbsenceReasonKey],S.[PeriodeAbsenceReasonKey],S.[ResourceGroupKey],S.[OverRulingResourceGroupKey],S.[PlannedPropKey],S.[MainPropKey],S.[ContractKey],S.[TimeTypeKey],S.[nr],S.[RosterDaypartCount],S.[Phase],S.[StartTime],S.[EndTime])
	;
END;