/****** Script for SelectTopNRows command from SSMS  ******/
--truncate table [MDSCloud].[stg].[metadesk_operatorgroups_Leaf]

select * from  [MDSCloud].[stg].[metadesk_operatorgroups_Leaf]

select * FROM [MDSCloud].[stg].[viw_metadesk_operatorgroups_MemberErrorDetails]

--truncate table MDSCloud.stg.erp_BusinessUnits_Leaf
--truncate table MDSCloud.stg.erp_Functions_Leaf
--truncate table MDSCloud.stg.erp_SkillLevel_Leaf
--truncate table MDSCloud.stg.erp_Teams_Leaf
--truncate table MDSCloud.stg.erp_hierarchy_BU_Team_Function_Level_Leaf

select * FROM [MDSCloud].[stg].[viw_erp_BusinessUnits_MemberErrorDetails]
select * FROM [MDSCloud].[stg].[viw_erp_Functions_MemberErrorDetails]
select * FROM [MDSCloud].[stg].[viw_erp_SkillLevel_MemberErrorDetails]
select * FROM [MDSCloud].[stg].[viw_erp_Teams_MemberErrorDetails]
select * FROM [MDSCloud].[stg].[viw_erp_hierarchy_BU_Team_Function_Level_MemberErrorDetails]