/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	 Customer = C.Fullname
	,Category
	,Subcategory
	,TicketCount = COUNT(*)
FROM [OGDW].[Fact].[Incident] I
INNER JOIN (
	SELECT CustomerKey, FullName
	FROM Dim.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
) C ON (C.CustomerKey = I.CustomerKey)
GROUP BY C.Fullname, Category, Subcategory WITH ROLLUP