DECLARE @Group int = 13
insert into security.azuregroupmapping (AzureGroupId, CustomerKey, OperatorGroupKey, OperatorGroupGuid)
SELECT
	 @Group
    ,[CustomerKey]
	,[OperatorGroupKey]
    ,[OperatorGroupGuid]
FROM [Dim].[OperatorGroup]
where operatorgroup = 'Netwerkbeheer' 
	and customerkey not in (SELECT customerkey FROM Security.AzureGroupMapping WHERE AzureGroupId = @Group)