/****** Script for SelectTopNRows command from SSMS  ******/
SELECT Fullname,CustomerKey
FROM [OGDW].[Dim].[Customer]
--WHERE CustomerKey IN (322, 154, 84, 3, 4, 54, 268, 81, 323, 275, 9, 324, 333, 319, 12, 158, 94, 16, 341, 259, 317, 19, 20, 326, 22, 25, 26, 28, 155, 261, 219, 339, 32, 47, 33, 156, 337, 39, 325, 231, 257, 41, 89, 258, 44, 260, 185, 82, 192, 10) 
WHERE Fullname LIKE '%Corbion%'
ORDER BY Fullname

;WITH GroupsOGD(GroupName) AS (
			SELECT 'Systeembeheer'
	UNION	SELECT 'Majormeldingenbeheer'
	UNION	SELECT 'Servicedesk'
	UNION	SELECT 'Systeembeheercoördinatie'
	UNION	SELECT 'Topdesk Applicatiebeheer'
	UNION	SELECT 'Configuratiebeheer'
	UNION	SELECT 'Werkplekbeheercoördinatie'
	UNION	SELECT 'Netwerkbeheer'
	UNION	SELECT 'Procescoördinatie'
	UNION	SELECT 'Technisch Applicatiebeheer'
	UNION	SELECT 'Werkplekbeheer'
)
SELECT 
	 [Fullname] = CASE 
					WHEN C.FullName = 'MKBO' THEN 'OGD (MKBO Intern)'
					WHEN C.Fullname = 'Corbion' AND OperatorGroupSTD = 'Netwerkbeheer' THEN 'Corbion-NO'
					ELSE FullName END
	,OperatorGroup = OperatorGroupStd
	,IsOGDGroup = CASE WHEN C.Fullname IN ('OGD', 'MKBO') OR OG.GroupName IS NOT NULL THEN 1 ELSE 0 END
	,[StatusSTD]
    ,[Priority]
    ,[PrioritySTD]
	,[IncidentTypeSTD]
	,[Impact]
    ,[Category]
	,[SubCategory]
    ,[SubmittedVia] = [EntryTypeSTD]
    ,[IncidentDescription]
	,[DateCreated] = IncidentDate
	,[DateLastChanged] = ChangeDate
	,[DateCompleted] = CompletionDate
	,[DateTargeted] = TargetDate
	,[DateTimeCreated] = CAST(IncidentDate AS DATETIME) + CAST(IncidentTime AS DATETIME)
    ,[DateTimeLastChanged] = CAST(ChangeDate AS datetime) + CAST(ChangeTime AS DATETIME)
	,[DateTimeCompleted] = CAST(CompletionDate AS DATETIME) + CAST(CompletionTime AS DATETIME)
	,[DateTimeTargeted] = CAST(SlaTargetDate AS DATETIME) + CAST(SlaTargetTime AS DATETIME)
    ,[DurationActual]
    ,[DurationOnHold]
    ,[DurationAdjusted]
    ,[IsMajorIncident]
    ,I.[MajorIncident]
	,[IncidentsLinked] = MI.TicketCount
    ,[Line]
    ,[IncidentNumber]
    ,[StandardSolutionUsed] = CASE WHEN StandardSolution IS NOT NULL THEN 1 ELSE 0 END
FROM [OGDW].[Fact].[Incident] I
-- DW Joins
INNER JOIN DIM.Customer C ON (C.CustomerKey = I.CustomerKey)
INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
-- Query Joins
LEFT JOIN GroupsOGD OG ON (OG.GroupName = G.OperatorGroupSTD)
LEFT JOIN (
	SELECT 
		 CustomerKey
		,MajorIncident
		,TicketCount = COUNT(*)
	FROM Fact.Incident
	WHERE MajorIncident IS NOT NULL
	GROUP BY CustomerKey, MajorIncident
) MI ON (MI.CustomerKey = I.CustomerKey AND MI.MajorIncident = I.IncidentNumber)
WHERE I.CreationDate IS NOT NULL AND 
C.CustomerKey IN (322, 154, 84, 3, 4, 54, 268, 81, 323, 275, 9, 324, 333, 319, 12, 158, 94, 16, 341, 259, 317, 19, 20, 326, 22, 25, 26, 28, 155, 261, 219, 339, 32, 47, 33, 156, 337, 39, 325, 231, 257, 41, 89, 258, 44, 260, 185, 82, 192, 10) 