/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
	 P.naam
	,IncidentCnt = COALESCE(IncidentCnt, 0)
	,IncFirstReported
	,IncLastReported
	,Incidents = STUFF((
					SELECT ', ' + CAST(C.[naam] AS NVARCHAR(MAX))
					FROM dbo.incident C
					INNER JOIN dbo.probleemincidentlink A ON (a.incidentid = c.unid)
					WHERE A.probleemid = P.unid
					ORDER BY c.datumaangemeld
					FOR XML PATH('')
                ), 1, 2, '' )
	,CausedByChangesCnt = COALESCE(CausedByChangesCnt, 0)
	,CausedByChangeFirstExecuted
	,CausedByChangeLastExecuted
	,CausedByChanges = STUFF((
					SELECT ', ' + CAST(C.number AS NVARCHAR(MAX))
					FROM dbo.change C
					INNER JOIN dbo.[change_problem_causedby_link] A ON (a.changeid = c.unid)
					WHERE A.problemid = P.unid
					ORDER BY c.finaldate
					FOR XML PATH('')
                ), 1, 2, '' )
	,FixedByChangesCnt = COALESCE(FixedByChangesCnt, 0)
	,FixedByChangesFirstExecuted
	,FixedByChangesLastExecuted
	,FixedByChanges = STUFF((
					SELECT ', ' + CAST(C.number AS NVARCHAR(MAX))
					FROM dbo.change C
					INNER JOIN dbo.[change_problem_link] A ON (a.changeid = c.unid)
					WHERE A.problemid = P.unid
					ORDER BY c.finaldate
					FOR XML PATH('')
                ), 1, 2, '' )
	,ObjectsImpacted = COALESCE(ObjectsImpacted, 0)
	,[Objects] = STUFF((
					SELECT ', ' + CAST(C.ref_naam AS NVARCHAR(MAX))
					FROM dbo.[object] C
					INNER JOIN dbo.[_object_problem_link] A ON (a.[object_id] = c.unid)
					WHERE A.problem_id = P.unid
					ORDER BY C.ref_naam
					FOR XML PATH('')
                ), 1, 2, '' )
FROM [dbo].probleem P
LEFT JOIN (
	SELECT
		 IncidentCnt = COUNT(*)
		,IncFirstReported = MIN(I.datumaangemeld)
		,IncLastReported = MAX(I.datumaangemeld)
		,ProblemUnid = probleemid
	FROM [dbo].[probleemincidentlink] L
	INNER JOIN dbo.incident I ON (I.unid = L.incidentid)
	GROUP BY L.probleemid
) L ON (L.ProblemUnid = P.unid)
LEFT JOIN (
	SELECT
		 CausedByChangesCnt = COUNT(*)
		,CausedByChangeFirstExecuted = MIN(I.finaldate)
		,CausedByChangeLastExecuted = MAX(I.finaldate)
		,ProblemUnid = problemid
	FROM [dbo].[change_problem_causedby_link] L
	INNER JOIN dbo.change I ON (I.unid = L.changeid)
	GROUP BY L.problemid
) CC ON (CC.ProblemUnid = P.unid)
LEFT JOIN (
	SELECT
		 FixedByChangesCnt = COUNT(*)
		,FixedByChangesFirstExecuted = MIN(I.finaldate)
		,FixedByChangesLastExecuted = MAX(I.finaldate)
		,ProblemUnid = problemid
	FROM [dbo].[change_problem_link] L
	INNER JOIN dbo.change I ON (I.unid = L.changeid)
	GROUP BY L.problemid
) CF ON (CF.ProblemUnid = P.unid)
LEFT JOIN (
	SELECT
		 ObjectsImpacted = COUNT(*)
		,ProblemUnid = problemid
	FROM [dbo].[obj_problem_link] L
	INNER JOIN dbo.[object] I ON (I.unid = L.objectid)
	GROUP BY L.problemid
) PO ON (PO.ProblemUnid = P.unid)