;WITH R AS (
	SELECT 
		 FirstName
		,LastName
		,OrgLvl = 1
		,EmployeeKey
		,ManagerId = R1.EmployeeKey
		,Manager = CAST('Shareholders' AS NVARCHAR(255))
		,ManagerPath = CAST('Shareholders' AS NVARCHAR(MAX))
		,Sort = CONVERT(VARBINARY(MAX), EmployeeKey)
	FROM [AdventureworksDW2016CTP3].[dbo].[DimEmployee] R1
	WHERE ParentEmployeeKey IS NULL AND CurrentFlag = 1
	UNION ALL
	SELECT 
		 R2.FirstName
		,R2.LastName
		,OrgLvl = R.OrgLvl+1
		,R2.EmployeeKey
		,ManagerId = R.EmployeeKey
		,Manager = CAST(R.FirstName + ' ' + R.LastName AS NVARCHAR(255))
		,ManagerPath = CAST(R.ManagerPath + ' -> ' + R.FirstName + ' ' + R.LastName AS NVARCHAR(MAX))
		,Sort = R.Sort + CONVERT(VARBINARY(MAX), R2.EmployeeKey)
	FROM [AdventureworksDW2016CTP3].[dbo].[DimEmployee] R2
	INNER JOIN R ON R2.ParentEmployeeKey = R.EmployeeKey
	--WHERE EndDate IS NULL
	WHERE R2.ParentEmployeeKey IS NOT NULL
)
SELECT FirstName, LastName, R.ManagerPath, R.Sort, OrgLvl
,MinionCount = (
	SELECT COUNT(*) FROM R R1 WHERE ManagerPath LIKE R.ManagerPath + ' -> ' + R.FirstName + ' ' + R.LastName + '%'
)
,DirectReports = STUFF((
					SELECT ', ' + CAST(R1.FirstName + ' ' + R1.LastName AS NVARCHAR(MAX))
					FROM R R1
					WHERE R1.ManagerPath = (R.ManagerPath + ' -> ' + R.FirstName + ' ' + R.LastName)
					ORDER BY R1.FirstName, R1.LastName
					FOR XML PATH('')
                ), 1, 2, '' )
FROM R 
ORDER BY Sort