USE [OGDW]
GO
/****** Object:  UserDefinedFunction [Security].[fn_incidentSecurityPredicate]    Script Date: 2018-01-13 01:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP SECURITY POLICY security.incidentGroupPolicy
GO

ALTER FUNCTION [Security].[fn_incidentSecurityPredicate](@CustomerKey int, @OperatorGroupKey int, @ToggleOperatorGroup bit)  
    RETURNS TABLE  
    WITH SCHEMABINDING  
AS  
    RETURN 
		select 1 as accessResult
		FROM [Security].[AzureGroupMapping] AGM
		inner JOIN [Security].[AzureGroups] G ON (G.id = AGM.azureGroupId)
		inner JOIN (
			SELECT value FROM STRING_SPLIT(CAST((SELECT SESSION_CONTEXT(N'Groups')) AS NVARCHAR(MAX)), ';')
			UNION
			SELECT CAST(SESSION_CONTEXT(N'UserId') AS NVARCHAR(100)) AS value
			UNION 
			SELECT RIGHT(CAST(SESSION_CONTEXT(N'UserId') AS NVARCHAR(100)),
						LEN(CAST(SESSION_CONTEXT(N'UserId') AS NVARCHAR(100))) - CHARINDEX('@', CAST(SESSION_CONTEXT(N'UserId') AS NVARCHAR(100))))
			AS value
			-- The SUSER_NAME() is to fix metadesk due to customer portal now allowing @ogd.nl addresses mappings to
			-- all groups related to @ogd.nl. This disables that when metadesk makes a DB call.
		) AG ON (AG.value = CAST(G.guid AS NVARCHAR(50)) OR (AG.value = G.name AND SUSER_NAME() != 'sa_metadesk'))
		WHERE 
			(1=1
--			AND IsCurrent = 1
--			AND TOPdeskActive = 1
			AND (
				(@CustomerKey = AGM.CustomerKey AND (@OperatorGroupKey = AGM.OperatorGroupKey OR (AGM.OperatorGroupKey iS NULL AND AGM.OperatorGroupGuid IS NULL)))
				OR 
				(@CustomerKey = AGM.CustomerKey AND  @OperatorGroupKey = -1 AND @ToggleOperatorGroup = 0)
			))
		union
		SELECT 1 AS accessResult
		FROM Dim.Customer C
		WHERE IS_Member('db_owner') = 1 AND SESSION_CONTEXT(N'UserId') IS NULL AND CustomerKey < 1000
--select is_rolemember('Operations'), is_member('db_owner'), is_rolemember('Finance')
GO

CREATE SECURITY POLICY [Security].[incidentGroupPolicy] 
ADD FILTER PREDICATE [security].[fn_incidentSecurityPredicate]([CustomerKey],[OperatorGroupKey],(1)) ON [Fact].[Incident],
ADD FILTER PREDICATE [security].[fn_incidentSecurityPredicate]([CustomerKey],(-1),(0)) ON [Dim].[Customer],
ADD FILTER PREDICATE [security].[fn_incidentSecurityPredicate]([CustomerKey],[OperatorGroupKey],(1)) ON [Fact].[Problem],
ADD FILTER PREDICATE [security].[fn_incidentSecurityPredicate]([CustomerKey],[OperatorGroupKey],(1)) ON [Fact].[Change],
ADD FILTER PREDICATE [security].[fn_incidentSecurityPredicate]([CustomerKey],[OperatorGroupKey],(1)) ON [Fact].[ChangeActivity]
WITH (STATE = ON, SCHEMABINDING = ON)
GO

