-- Storage for Customer List
IF OBJECT_ID('tempdb..#Customers') IS NOT NULL DROP TABLE #Customers
-- Storage for data set
IF OBJECT_ID('tempdb..#DataSet') IS NOT NULL DROP TABLE #DataSet
GO


-- Fill Data Set List
;WITH OutsourcingCustomers AS (
	SELECT 
		 CustomerKey
		,Customer = FullName
	FROM
		DIM.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
	--WHERE FullName in ('Univé')
)			
SELECT DISTINCT
	 [WeekYear]
	,[Weeknumber]
	,[WeekStartDate]
	,CustomerKey
INTO #DataSet
FROM 
	(SELECT WeekYear, WeekNumber, WeekStartDate FROM DIM.Date WHERE WeekYear > 2010 AND ([Date] <= CAST(GETUTCDATE() AS DATE))) D, 
	(SELECT CustomerKey FROM DIM.Customer WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)) C

;WITH OutsourcingCustomers AS (
	SELECT 
		 CustomerKey
		,Customer = FullName
	FROM
		DIM.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
	--WHERE FullName in ('Univé')
)
SELECT
	 D.WeekYear
	,D.WeekNumber
	,[Year - Week] = CAST(D.WeekYear AS NCHAR(4)) + '-' + RIGHT('0'+CAST(D.Weeknumber AS NVARCHAR(2)),2)
	,[Team] = CASE
						WHEN C.FullName IN ('Triple Jump','Aedes','Nibud','KPC Groep','Greenwheels','KNCV Tuberculosefonds','Intravacc','NRG Value',' C.R.O.W.') THEN 'MKBO' 
						WHEN C.FullName IN ('Kennedy Van der Laan','De Jutters','SintLucas','Gemeente Molenwaard','Regio College Zaanstreek-Waterland','Stichting Het Rijnlands Lyceum','Van Hall Larenstein') THEN 'Alpha'
						WHEN C.Fullname IN ('Accare', 'GGNet') THEN 'Omega'
						WHEN C.Fullname IN ('Univé','Bouwinvest','Fondsenbeheer','BPD','BIM') THEN 'Sigma'
						ELSE 'Other'
					  END
	,Customer = C.FullName
	--,TypeSTD = COALESCE(Created.TypeSTD, Completed.TypeSTD)
	--,CurrentPhaseSTD = COALESCE(Created.CurrentPhaseSTD, Completed.CurrentPhaseSTD)
	,Created = COALESCE(Created.Total, 0)
	,CreatedStd = COALESCE(Created.Std, 0)
	,CreatedNonStd = COALESCE(Created.NonStd, 0)
	,Completed = COALESCE(Completed.Total, 0)
	,CompletedStd = COALESCE(Completed.Std, 0)
	,CompletedNonStd = COALESCE(Completed.NonStd, 0)
	,Cancelled = COALESCE(Completed.Cancelled, 0)
	,CancelledStd = COALESCE(CancelledStd, 0)
	,CancelledNonStd = COALESCE(CancelledNonStd, 0)
	,Backlog = COALESCE(Backlog.Total, 0)
	,BacklogStd = COALESCE(Backlog.Std, 0)
	,BacklogNonStd = COALESCE(Backlog.NonStd, 0)
FROM #DataSet D
INNER JOIN DIM.Customer C ON (C.CustomerKey = D.CustomerKey)
LEFT JOIN (
	SELECT
		 D.WeekYear
		,D.Weeknumber 
		,D.CustomerKey
		,Total = COUNT(*)
		,Std = SUM(CASE WHEN TypeSTD = 'Wijzigingstraject' THEN 0 ELSE 1 END)
		,NonStd = SUM(CASE WHEN TypeSTD = 'Wijzigingstraject' THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT 
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM #DataSet
	) D
	INNER JOIN FACT.Change CRQ ON (CRQ.CreationDate >= D.WeekStartDate AND CRQ.CreationDate <= DATEADD(day, 6, WeekStartDate) AND CRQ.CustomerKey = D.CustomerKey)
	GROUP BY D.WeekYear, D.Weeknumber, D.CustomerKey
) Created ON (Created.WeekYear = D.WeekYear AND Created.Weeknumber = D.Weeknumber AND Created.CustomerKey = D.CustomerKey)
LEFT JOIN (
	SELECT
		 D.WeekYear
		,D.Weeknumber 
		,D.CustomerKey
		,Total = COUNT(*)
		,Completed = SUM(CASE WHEN [CancelledByOperator] IS NULL THEN 1 ELSE 0 END)
		,Cancelled = SUM(CASE WHEN [CancelledByOperator] IS NOT NULL THEN 1 ELSE 0 END)
		,Std = SUM(CASE WHEN TypeSTD = 'Wijzigingstraject' THEN 0 ELSE 1 END)
		,NonStd = SUM(CASE WHEN TypeSTD = 'Wijzigingstraject' THEN 1 ELSE 0 END)
		,CancelledStd = SUM(CASE WHEN TypeSTD != 'Wijzigingstraject' AND [CancelledByOperator] IS NOT NULL THEN 1 ELSE 0 END)
		,CancelledNonStd = SUM(CASE WHEN TypeSTD = 'Wijzigingstraject' AND [CancelledByOperator] IS NOT NULL THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT 
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM #DataSet
	) D
	INNER JOIN FACT.Change CRQ ON (CRQ.CompletionDate >= D.WeekStartDate AND CRQ.CompletionDate <= DATEADD(day, 6, WeekStartDate) AND CRQ.CustomerKey = D.CustomerKey)
	GROUP BY D.WeekYear, D.Weeknumber, D.CustomerKey
) Completed ON (Completed.WeekYear = D.WeekYear AND Completed.Weeknumber = D.Weeknumber AND Completed.CustomerKey = D.CustomerKey)
LEFT JOIN (
	SELECT
		 D.WeekYear
		,D.Weeknumber 
		,D.CustomerKey
		,Total = COUNT(*)
		,Std = SUM(CASE WHEN TypeSTD = 'Wijzigingstraject' THEN 0 ELSE 1 END)
		,NonStd = SUM(CASE WHEN TypeSTD = 'Wijzigingstraject' THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT 
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM #DataSet
	) D
	INNER JOIN FACT.Change CRQ ON (CRQ.CreationDate < D.WeekStartDate AND (CRQ.CompletionDate > DATEADD(day, 6, WeekStartDate) OR CRQ.CompletionDate IS NULL) AND CRQ.CustomerKey = D.CustomerKey)
	GROUP BY D.WeekYear, D.Weeknumber, D.CustomerKey
) Backlog ON (Backlog.WeekYear = D.WeekYear AND Backlog.Weeknumber = D.Weeknumber AND Backlog.CustomerKey = D.CustomerKey)
ORDER BY D.WeekYear, D.Weeknumber, C.Fullname