-- Storage for Customer List
IF OBJECT_ID('tempdb..#Customers') IS NOT NULL DROP TABLE #Customers
-- Storage for data set
IF OBJECT_ID('tempdb..#DataSet') IS NOT NULL DROP TABLE #DataSet
GO

-- Fill Data Set List
;WITH OutsourcingCustomers AS (
	SELECT 
		 CustomerKey
		,Customer = FullName
	FROM
		DIM.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
)			
SELECT DISTINCT
	 [WeekYear]
	,[Weeknumber]
	,[WeekStartDate]
	,CustomerKey
	,OperatorGroupSTD
INTO #DataSet
FROM 
	DIM.Date, DIM.Customer, (SELECT DISTINCT OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer', 'Servicedesk', 'Netwerkbeheer', 'Technisch Applicatiebeheer', 'Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END FROM DIM.OperatorGroup) G
WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)

;WITH OutsourcingCustomers AS (
	SELECT 
		 CustomerKey
		,Customer = FullName
	FROM
		DIM.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
)
SELECT --TOP 50
	 D.[WeekYear]
	,D.[Weeknumber]
	,[Year - Week] = CAST(D.WeekYear AS NCHAR(4)) + '-' + RIGHT('0'+CAST(D.Weeknumber AS NVARCHAR(2)),2)
	,[Team] = CASE
						WHEN C.FullName IN ('Triple Jump','Aedes','Nibud','KPC Groep','Greenwheels','KNCV Tuberculosefonds','Intravacc','NRG Value',' C.R.O.W.') THEN 'MKBO' 
						WHEN C.FullName IN ('Kennedy Van der Laan','De Jutters','SintLucas','Gemeente Molenwaard','Regio College Zaanstreek-Waterland','Stichting Het Rijnlands Lyceum','Van Hall Larenstein') THEN 'Alpha'
						WHEN C.Fullname IN ('Accare', 'GGNet') THEN 'Omega'
						WHEN C.Fullname IN ('Univé','Bouwinvest','Fondsenbeheer','BPD','BIM') THEN 'Sigma'
						ELSE 'Other'
					  END
	,Customer = C.FullName
	,[Operator Group] = D.OperatorGroupSTD
	,[Closed (Overall] = COALESCE(Closed_Total, 0)
	,[Closed (Requests)] = COALESCE(Closed_Requests, 0)
	,[Closed (Questions)] = COALESCE(Closed_Questions, 0)
	,[Closed (Disruptions)] = COALESCE(Closed_Disruptions, 0)
	,[Backlog (Overall)] = CarryOver.CarryOver_Overflow_Total
	,[Backlog (Requests)] = CarryOver.CarryOver_Overflow_Requests
	,[Backlog (Questions)] = CarryOver.CarryOver_Overflow_Questions
	,[Backlog (Disruptions)] = CarryOver.CarryOver_Overflow_Disruptions
	,[Created-Closed Balance (Overall/Week)] = COALESCE(Overflow.Overflow_Total, 0)
	,[Created-Closed Balance (Requests/Week)] = COALESCE(Overflow.Overflow_Requests, 0)
	,[Created-Closed Balance (Questions/Week)] = COALESCE(Overflow.Overflow_Questions, 0)
	,[Created-Closed Balance (Disruptions/Week)] = COALESCE(Overflow.Overflow_Disruptions, 0)
	,[Open (End of Week) (Overall)] = LEAD(CarryOver.CarryOver_Overflow_Total, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
	,[Open (End of Week) (Requests)] = LEAD(CarryOver.CarryOver_Overflow_Requests, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
	,[Open (End of Week) (Questions)] = LEAD(CarryOver.CarryOver_Overflow_Questions, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
	,[Open (End of Week) (Disruptions)] = LEAD(CarryOver.CarryOver_Overflow_Closed_Disruptions, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
	,[Created (Overall)] = COALESCE(Created_Total, 0)
	,[Created (Requests)] = COALESCE(Created_Requests, 0)
	,[Created (Questions)] = COALESCE(Created_Questions, 0)
	,[Created (Disruptions)] = COALESCE(Created_Disruptions, 0)
	,[Closed-Open Balance (Overall)] =  Closed_Total - LEAD(CarryOver.CarryOver_Overflow_Total, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
	,[Closed-Open Balance (Requests)] = Closed_Requests - LEAD(CarryOver.CarryOver_Overflow_Requests, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
	,[Closed-Open Balance (Questions)] = Closed_Questions - LEAD(CarryOver.CarryOver_Overflow_Questions, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
	,[Closed-Open Balance (Disruptions)] = Closed_Disruptions - LEAD(CarryOver.CarryOver_Overflow_Closed_Disruptions, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD ORDER BY D.WeekYear, D.WeekNumber)
FROM #DataSet D
INNER JOIN DIM.Customer C ON (C.CustomerKey = D.CustomerKey)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.CustomerKey
		,D.OperatorGroupSTD
		,Created_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,Created_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,Created_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,Created_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM #DataSet D
	LEFT JOIN (
		SELECT 
			   I.CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer', 'Servicedesk', 'Netwerkbeheer', 'Technisch Applicatiebeheer', 'Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN [DIM].[OperatorGroup] G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateStart >= D.WeekStartDate AND I.DateStart <= DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey AND I.OperatorGroupSTD = D.OperatorGroupSTD)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, D.OperatorGroupSTD
) Created ON (Created.WeekYear = D.WeekYear AND Created.Weeknumber = D.Weeknumber AND D.CustomerKey = Created.CustomerKey AND D.OperatorGroupSTD = Created.OperatorGroupSTD)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,D.OperatorGroupSTD
		,Closed_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,Closed_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,Closed_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,Closed_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM #DataSet D
	LEFT JOIN (
		SELECT 
			   CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN [DIM].[OperatorGroup] G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateEnd >= D.WeekStartDate AND I.DateEnd <= DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = I.OperatorGroupSTD)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, D.OperatorGroupSTD
) Closed ON (Closed.WeekYear = D.WeekYear AND Closed.Weeknumber = D.Weeknumber AND Closed.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = Closed.OperatorGroupSTD)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,D.OperatorGroupSTD
		,Overflow_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,Overflow_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,Overflow_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,Overflow_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM #DataSet D
	LEFT JOIN (
		SELECT 
			   I.CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateStart BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.DateEnd > DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = I.OperatorGroupSTD)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, D.OperatorGroupSTD
) Overflow ON (Overflow.WeekYear = D.WeekYear AND Overflow.Weeknumber = D.Weeknumber AND Overflow.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = Overflow.OperatorGroupSTD)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,D.OperatorGroupSTD
		,CarryOver_Overflow_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Total = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Requests = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Questions = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Disruptions = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM #DataSet D
	LEFT JOIN (
		SELECT 
			   CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (((I.DateStart < D.WeekStartDate AND I.DateEnd > DATEADD(day, 6, WeekStartDate)) OR (I.DateStart < D.WeekStartDate AND I.DateEnd <= DATEADD(day, 6, WeekStartDate) AND I.DateEnd >= D.WeekStartDate)) AND I.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = I.OperatorGroupSTD)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, D.OperatorGroupSTD
) CarryOver ON (CarryOver.WeekYear = D.WeekYear AND CarryOver.Weeknumber = D.Weeknumber AND CarryOver.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = CarryOver.OperatorGroupSTD)
WHERE (
		D.WeekYear <= DATEPART(YEAR, GETUTCDATE()) 
		AND D.Weeknumber <= (
			SELECT TOP 1 Weeknumber FROM DIM.[Date] WHERE GETUTCDATE() BETWEEN WeekStartDate AND Dateadd(day, 6, WeekStartDate)
		)
		OR D.WeekYear < DATEPART(YEAR, GETUTCDATE()) 
	  )
	AND (D.WeekYear > 2015)
ORDER BY C.FullName, D.WeekYear, D.Weeknumber DESC, D.OperatorGroupSTD