;WITH OutsourcingCustomers AS (
	SELECT 
		 CustomerKey
		,Customer = FullName
	FROM
		DIM.Customer
	WHERE FullName IN ('C.R.O.W.','NRG Value','Triple Jump','Aedes','Nibud','Intravacc','KNCV Tuberculosefonds','Greenwheels','KPC Groep')
)
SELECT --TOP 50
	 D.[WeekYear]
	,D.[Weeknumber]
	,YearWeek = CAST(D.WeekYear AS NCHAR(4)) + '-' + RIGHT('0'+CAST(D.Weeknumber AS NVARCHAR(2)),2)
	,Customer = D.Customer
	,Closed_Total = COALESCE(Closed_Total, 0)
	,Closed_Requests = COALESCE(Closed_Requests, 0)
	,Closed_Questions = COALESCE(Closed_Questions, 0)
	,Closed_Disruptions = COALESCE(Closed_Disruptions, 0)
	,CarryOver_Total = CarryOver.CarryOver_Overflow_Total
	,CarryOver_Requests = CarryOver.CarryOver_Overflow_Requests
	,CarryOver_Questions = CarryOver.CarryOver_Overflow_Questions
	,CarryOver_Disruptions = CarryOver.CarryOver_Overflow_Disruptions
	,Created_Overflow_Total = COALESCE(Overflow.Overflow_Total, 0)
	,Created_Overflow_Requests = COALESCE(Overflow.Overflow_Requests, 0)
	,Created_Overflow_Questions = COALESCE(Overflow.Overflow_Questions, 0)
	,Created_Overflow_Disruptions = COALESCE(Overflow.Overflow_Disruptions, 0)
	,Overflow_Total = LEAD(CarryOver.CarryOver_Overflow_Total, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
	,Overflow_Requests = LEAD(CarryOver.CarryOver_Overflow_Requests, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
	,Overflow_Questions = LEAD(CarryOver.CarryOver_Overflow_Questions, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
	,Overflow_Disruptions = LEAD(CarryOver.CarryOver_Overflow_Closed_Disruptions, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
	,Created_Total = COALESCE(Created_Total, 0)
	,Created_Requests = COALESCE(Created_Requests, 0)
	,Created_Questions = COALESCE(Created_Questions, 0)
	,Created_Disruptions = COALESCE(Created_Disruptions, 0)
	,Balance =  Closed_Total - LEAD(CarryOver.CarryOver_Overflow_Total, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
	,Balance_Requests = Closed_Requests - LEAD(CarryOver.CarryOver_Overflow_Requests, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
	,Balance_Questions = Closed_Questions - LEAD(CarryOver.CarryOver_Overflow_Questions, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
	,Balance_Disruptions = Closed_Disruptions - LEAD(CarryOver.CarryOver_Overflow_Closed_Disruptions, 1, 0) OVER (PARTITION BY D.Customer ORDER BY D.WeekYear, D.WeekNumber)
FROM (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,Customer = FullName
		,CustomerKey
	FROM DIM.Date, DIM.Customer
	WHERE Customer.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
) D
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.CustomerKey
		,Created_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,Created_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,Created_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,Created_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM DIM.Date, DIM.Customer
		WHERE Customer.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) D
	LEFT JOIN (
		SELECT 
			   I.CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
		FROM [Fact].[Incident] I
		WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateStart >= D.WeekStartDate AND I.DateStart <= DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey
) Created ON (Created.WeekYear = D.WeekYear AND Created.Weeknumber = D.Weeknumber AND D.CustomerKey = Created.CustomerKey)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,Closed_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,Closed_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,Closed_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,Closed_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM DIM.Date, DIM.Customer
		WHERE Customer.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) D
	LEFT JOIN (
		SELECT 
			   CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
		FROM [Fact].[Incident] I
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateEnd >= D.WeekStartDate AND I.DateEnd <= DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey
) Closed ON (Closed.WeekYear = D.WeekYear AND Closed.Weeknumber = D.Weeknumber AND Closed.CustomerKey = D.CustomerKey)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,Overflow_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,Overflow_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,Overflow_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,Overflow_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM DIM.Date, DIM.Customer
		WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) D
	LEFT JOIN (
		SELECT 
			   I.CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
		FROM [Fact].[Incident] I
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateStart BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.DateEnd > DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey
) Overflow ON (Overflow.WeekYear = D.WeekYear AND Overflow.Weeknumber = D.Weeknumber AND Overflow.CustomerKey = D.CustomerKey)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,CarryOver_Overflow_Total = SUM(CASE WHEN I.IncidentType IS NOT NULL THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Requests = SUM(CASE WHEN I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Questions = SUM(CASE WHEN I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Disruptions = SUM(CASE WHEN I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Total = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Requests = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.IncidentType = 'Aanvraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Questions = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.IncidentType = 'Vraag' THEN 1 ELSE 0 END)
		,CarryOver_Overflow_Closed_Disruptions = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.IncidentType = 'Verstoring' THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM DIM.Date, DIM.Customer
		WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) D
	LEFT JOIN (
		SELECT 
			   CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.ClosureDate
			  ,IncidentType
		FROM [Fact].[Incident] I
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (((I.DateStart < D.WeekStartDate AND I.DateEnd > DATEADD(day, 6, WeekStartDate)) OR (I.DateStart < D.WeekStartDate AND I.DateEnd <= DATEADD(day, 6, WeekStartDate) AND I.DateEnd >= D.WeekStartDate)) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
		--AND D.Customer IN ('Accare', 'Kennedy van der Laan')
	GROUP BY WeekYear, WeekNumber, D.CustomerKey
) CarryOver ON (CarryOver.WeekYear = D.WeekYear AND CarryOver.Weeknumber = D.Weeknumber AND CarryOver.CustomerKey = D.CustomerKey)
--WHERE D.Customer IN ('Accare', 'Kennedy van der Laan') AND 
WHERE (
		D.WeekYear <= DATEPART(YEAR, GETUTCDATE()) 
		AND D.Weeknumber <= (
			SELECT TOP 1 Weeknumber FROM DIM.[Date] WHERE GETUTCDATE() BETWEEN WeekStartDate AND Dateadd(day, 6, WeekStartDate)
		)
		OR D.WeekYear < DATEPART(YEAR, GETUTCDATE()) 
	  )
	AND (D.WeekYear > 2015)
--GROUP BY ROLLUP(D.WeekYear, D.Weeknumber, D.Customer)
--ORDER BY D.WeekYear, D.Weeknumber,D.Customer
ORDER BY D.Customer, D.WeekYear, D.Weeknumber