-- Storage for Customer List
IF OBJECT_ID('tempdb..#Customers') IS NOT NULL DROP TABLE #Customers
-- Storage for data set
IF OBJECT_ID('tempdb..#DataSet') IS NOT NULL DROP TABLE #DataSet
GO

-- Fill Data Set List
;WITH OutsourcingCustomers AS (
	SELECT 
		 CustomerKey
		,Customer = FullName
	FROM
		DIM.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
	--WHERE FullName in ('Univé')
)			
SELECT DISTINCT
	 [WeekYear]
	,[Weeknumber]
	,[WeekStartDate]
	,CustomerKey
	,OperatorGroupSTD
	,IncidentType = IncidentTypeSTD
INTO #DataSet
FROM 
	(SELECT WeekYear, WeekNumber, WeekStartDate FROM DIM.Date WHERE WeekYear > 2010 AND ([Date] <= CAST(GETUTCDATE() AS DATE))) D, 
	(SELECT CustomerKey FROM DIM.Customer WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)) C, 
	(SELECT DISTINCT OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN 
	('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END FROM DIM.OperatorGroup) G,
	(SELECT DISTINCT IncidentTypeSTD FROM FACT.Incident) I
WHERE D.Weeknumber IN (48,49) AND D.WeekYear = 2016

;WITH OutsourcingCustomers AS (
	SELECT 
		 CustomerKey
		,Customer = FullName
	FROM
		DIM.Customer
	WHERE FullName IN ('C.R.O.W.','BIM','NRG Value','Van Hall Larenstein','Triple Jump','BPD','Stichting Het Rijnlands Lyceum','Aedes','Corbion','Fondsenbeheer','Regio College Zaanstreek-Waterland','Nibud','SintLucas','Bouwinvest','Intravacc','KNCV Tuberculosefonds','Gemeente Molenwaard','Kennedy Van der Laan','Accare','Greenwheels','KPC Groep','Univé','De Jutters','GGNet')
)
SELECT --TOP 50
	 D.[WeekYear]
	,D.[Weeknumber]
	,[Year - Week] = CAST(D.WeekYear AS NCHAR(4)) + '-' + RIGHT('0'+CAST(D.Weeknumber AS NVARCHAR(2)),2)
	,[Team] = CASE
						WHEN C.FullName IN ('Triple Jump','Aedes','Nibud','KPC Groep','Greenwheels','KNCV Tuberculosefonds','Intravacc','NRG Value','C.R.O.W.') THEN 'MKBO' 
						WHEN C.FullName IN ('Kennedy Van der Laan','De Jutters','SintLucas','Gemeente Molenwaard','Regio College Zaanstreek-Waterland','Stichting Het Rijnlands Lyceum','Van Hall Larenstein') THEN 'Alpha'
						WHEN C.Fullname IN ('Accare', 'GGNet') THEN 'Omega'
						WHEN C.Fullname IN ('Univé','Bouwinvest','Fondsenbeheer','BPD','BIM') THEN 'Sigma'
						ELSE 'Other'
					  END
	,Customer = C.FullName
	,[Operator Group] = D.OperatorGroupSTD
	,[Incident Type] = CASE D.[IncidentType]
							WHEN 'Vraag' THEN 'Question'
							WHEN 'Beveiligingsincident' THEN 'Security'
							WHEN 'Overig' THEN 'Other'
							WHEN 'Aanvraag' THEN 'Request'
							WHEN 'Wijziging' THEN 'Change'
							WHEN 'Verstoring' THEN 'Disruption'
							WHEN 'Klacht' THEN 'Complaint'
							ELSE 'Unknown'
						END
	,[Created] = COALESCE(Created, 0)
	,[Closed] = COALESCE(Closed, 0)
	,[Closed (Backlog)] = COALESCE(Backlog.Backlog_Closed, 0)
	,[Backlog] = COALESCE(Backlog.Backlog, 0)
	,[Created-Closed Balance (Overall/Week)] = COALESCE(Overflow.Overflow, 0)
	,[Backlog (End of Week)] = COALESCE(LEAD(Backlog.Backlog, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD, D.IncidentType ORDER BY D.WeekYear, D.WeekNumber), 0)
	,[Closed-Open Balance] =  COALESCE(Closed, 0) - COALESCE(LEAD(Backlog.Backlog, 1, 0) OVER (PARTITION BY D.CustomerKey, D.OperatorGroupSTD, D.IncidentType ORDER BY D.WeekYear, D.WeekNumber), 0)
FROM #DataSet D
INNER JOIN DIM.Customer C ON (C.CustomerKey = D.CustomerKey)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.CustomerKey
		,I.OperatorGroupSTD
		,I.IncidentTypeSTD
		,Created = COUNT(*)
	FROM (
		SELECT DISTINCT 
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM #DataSet
	) D
	LEFT JOIN (
		SELECT 
			   I.CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.CompletionDate
			  ,IncidentTypeSTD
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN [DIM].[OperatorGroup] G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateStart >= D.WeekStartDate AND I.DateStart <= DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, I.OperatorGroupSTD, I.IncidentTypeSTD
) Created ON (Created.WeekYear = D.WeekYear AND Created.Weeknumber = D.Weeknumber AND D.CustomerKey = Created.CustomerKey AND D.OperatorGroupSTD = Created.OperatorGroupSTD AND Created.IncidentTypeSTD = D.IncidentType)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,I.OperatorGroupSTD
		,I.IncidentTypeSTD
		,Closed = COUNT(*)
	FROM (
		SELECT DISTINCT 
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM #DataSet
	) D
	LEFT JOIN (
		SELECT 
			   CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.CompletionDate
			  ,IncidentTypeSTD
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN [DIM].[OperatorGroup] G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateEnd >= D.WeekStartDate AND I.DateEnd <= DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, I.OperatorGroupSTD, I.IncidentTypeSTD
) Closed ON (Closed.WeekYear = D.WeekYear AND Closed.Weeknumber = D.Weeknumber AND Closed.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = Closed.OperatorGroupSTD AND Closed.IncidentTypeSTD = D.IncidentType)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,I.OperatorGroupSTD
		,I.IncidentTypeSTD
		,Overflow = COUNT(*)
	FROM (
		SELECT DISTINCT 
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM #DataSet
	) D
	LEFT JOIN (
		SELECT 
			   I.CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.CompletionDate
			  ,IncidentTypeSTD
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (I.DateStart BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) AND I.DateEnd > DATEADD(day, 6, WeekStartDate) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, I.OperatorGroupSTD, I.IncidentTypeSTD
) Overflow ON (Overflow.WeekYear = D.WeekYear AND Overflow.Weeknumber = D.Weeknumber AND Overflow.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = Overflow.OperatorGroupSTD AND Overflow.IncidentTypeSTD = D.IncidentType)
LEFT JOIN (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,D.[CustomerKey]
		,I.OperatorGroupSTD
		,I.IncidentTypeSTD
		,Backlog = SUM(CASE WHEN I.IncidentTypeSTD IS NOT NULL THEN 1 ELSE 0 END)
		,Backlog_Closed = SUM(CASE WHEN I.DateEnd BETWEEN D.WeekStartDate AND DATEADD(day, 6, WeekStartDate) THEN 1 ELSE 0 END)
	FROM (
		SELECT DISTINCT 
			 [WeekYear]
			,[Weeknumber]
			,[WeekStartDate]
			,CustomerKey
		FROM #DataSet
	) D
	LEFT JOIN (
		SELECT 
			   CustomerKey
			  ,DateStart = I.IncidentDate
			  ,DateEnd = I.CompletionDate
			  ,IncidentTypeSTD
			  ,OperatorGroupSTD = CASE WHEN OperatorGroupSTD NOT IN ('Systeembeheer','Majormeldingenbeheer','Servicedesk','Systeembeheercoördinatie','Topdesk Applicatiebeheer','Configuratiebeheer','Werkplekbeheercoördinatie','Netwerkbeheer','Procescoördinatie','Technisch Applicatiebeheer','Werkplekbeheer') THEN 'Overig' ELSE OperatorGroupSTD END
		FROM [Fact].[Incident] I
		INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
		WHERE I.CustomerKey IN (SELECT CustomerKey FROM OutsourcingCustomers)
	) I ON (((I.DateStart < D.WeekStartDate AND (I.DateEnd > DATEADD(day, 6, WeekStartDate) OR I.DateEnd IS NULL)) OR (I.DateStart < D.WeekStartDate AND I.DateEnd <= DATEADD(day, 6, WeekStartDate) AND I.DateEnd >= D.WeekStartDate)) AND I.CustomerKey = D.CustomerKey)
	WHERE 
		WeekYear IS NOT NULL
	GROUP BY WeekYear, WeekNumber, D.CustomerKey, I.OperatorGroupSTD, I.IncidentTypeSTD
) Backlog ON (Backlog.WeekYear = D.WeekYear AND Backlog.Weeknumber = D.Weeknumber AND Backlog.CustomerKey = D.CustomerKey AND D.OperatorGroupSTD = Backlog.OperatorGroupSTD AND Backlog.IncidentTypeSTD = D.IncidentType)
WHERE (
		D.WeekYear <= DATEPART(YEAR, GETUTCDATE()) 
		AND D.Weeknumber <= (
			SELECT TOP 1 Weeknumber FROM DIM.[Date] WHERE GETUTCDATE() BETWEEN WeekStartDate AND Dateadd(day, 6, WeekStartDate)
		)
		OR D.WeekYear < DATEPART(YEAR, GETUTCDATE()) 
	  )
	  AND C.Fullname = 'C.R.O.W.'
	  AND D.IncidentType IN ('Vraag', 'Verstoring')
ORDER BY C.FullName, D.WeekYear, D.Weeknumber DESC, D.OperatorGroupSTD