--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN Phone varchar(255) MASKED WITH (FUNCTION = 'partial(3,"XXXXXXXXXXXX",0)');   

--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN [EmailAddress] varchar(255) MASKED WITH (FUNCTION = 'email()');   

--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN AddressLine1 varchar(255) MASKED WITH (FUNCTION = 'default()');   

--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN YearlyIncome money MASKED WITH (FUNCTION = 'default()');   

--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN BirthDate date MASKED WITH (FUNCTION = 'default()');   

--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN FirstName nvarchar(50) MASKED WITH (FUNCTION = 'default()');   

--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN MiddleName nvarchar(50) MASKED WITH (FUNCTION = 'default()');   

--ALTER TABLE  [dbo].[DimCustomer]
--ALTER COLUMN LastName nvarchar(50) MASKED WITH (FUNCTION = 'default()');   

/*
CREATE SCHEMA Security  
GO  

CREATE FUNCTION Security.fn_educationSecurityPredicate(@EnglishEducation nvarchar(255))  
    RETURNS TABLE  
    WITH SCHEMABINDING  
AS  
    RETURN SELECT 1 AS accessResult
	WHERE (@EnglishEducation = 'Bachelors' AND USER_NAME() = 'test') OR 1=1
    --WHERE @UserName = SUSER_SNAME()  

GO  
*/
--DROP SECURITY POLICY Security.fn_educationSecurityPolicy

/*
CREATE SECURITY POLICY Security.fn_educationSecurityPolicy
     ADD FILTER PREDICATE Security.fn_educationSecurityPredicate(EnglishEducation) ON dbo.DimCustomer
	,ADD BLOCK PREDICATE Security.fn_educationSecurityPredicate(EnglishEducation) ON dbo.DimCustomer 
GO
*/

/*
CREATE SCHEMA Security  
GO  

CREATE FUNCTION Security.fn_callerSecurityPredicate(@CallerBranch nvarchar(255))  
    RETURNS TABLE  
    WITH SCHEMABINDING  
AS  
    RETURN SELECT 1 AS accessResult
	WHERE (@CallerBranch = 'Hoofdkantoor' AND USER_NAME() = 'test')
    --WHERE @UserName = SUSER_SNAME()  

GO  
*/
--DROP SECURITY POLICY Security.fn_callerSecurityPredicate

/*
CREATE SECURITY POLICY Security.fn_callerSecurityPolicy
     ADD FILTER PREDICATE Security.fn_callerSecurityPredicate(CallerBranch) ON Dim.Caller
	,ADD BLOCK PREDICATE Security.fn_callerSecurityPredicate(CallerBranch) ON Dim.Caller  
GO
*/

--DENY UNMASK to db_owner  

/*
CREATE SCHEMA Security  
GO  

CREATE FUNCTION Security.fn_userSecurityPredicate(@LoginID nvarchar(255))  
    RETURNS TABLE  
    WITH SCHEMABINDING  
AS  
    RETURN SELECT 1 AS accessResult
	WHERE (@LoginID = SUSER_NAME())

GO  
--DROP SECURITY POLICY Security.fn_educationSecurityPolicy

CREATE SECURITY POLICY Security.fn_userSecurityPolicy
     ADD FILTER PREDICATE Security.fn_userSecurityPredicate(LoginID) ON HumanResources.Employee
	,ADD BLOCK PREDICATE Security.fn_userSecurityPredicate(LoginID) ON HumanResources.Employee
GO
*/

ALTER Security Policy Security.fn_educationSecurityPolicy with (STATE=on)