--DECLARE @Customer NVARCHAR(255) = 'Greenwheels'
--DECLARE @EstimatedCount INT = 30

--DECLARE @Customer NVARCHAR(255) = 'C.R.O.W.'
--DECLARE @EstimatedCount INT = 96

--DECLARE @Customer NVARCHAR(255) = 'KNCV Tuberculosefonds'
--DECLARE @EstimatedCount INT = 115

--DECLARE @Customer NVARCHAR(255) = 'Triple Jump'
--DECLARE @EstimatedCount INT = 150
/*
DECLARE @Customer NVARCHAR(255) = 'NIBUD'
DECLARE @EstimatedCount INT = 38

CREATE TABLE #CustomerEstimation (
	Customer NVARCHAR(255),
	Estimation INT
)
INSERT INTO #CustomerEstimation VALUES ('Nibud', 38)
INSERT INTO #CustomerEstimation VALUES ('Greenwheels', 30)
INSERT INTO #CustomerEstimation VALUES ('C.R.O.W.', 96)
INSERT INTO #CustomerEstimation VALUES ('KNCV Tuberculosefonds', 115)
INSERT INTO #CustomerEstimation VALUES ('Triple Jump', 150)
INSERT INTO #CustomerEstimation VALUES ('Aedes', 20)
INSERT INTO #CustomerEstimation VALUES ('Intravacc', 162)
INSERT INTO #CustomerEstimation VALUES ('KPC Groep', 25)
INSERT INTO #CustomerEstimation VALUES ('NRG Value', 70)

*/

;WITH FirstBatch AS (
	SELECT 
		 C.Fullname
		,Month = DATEPART(month, incidentDate)
		,TicketCount = COUNT(*)
		,P1Count = SUM(CASE WHEN PriorityStd = 'P1' THEN 1 ELSE 0 END)
		,EstimatedInContract = E.Estimation
		,CorrectedCount = COUNT(*) - E.Estimation
		,TicketAverage = AVG(COUNT(*)) OVER (PARTITION BY C.FullName)
		,TicketAverageCorrected = AVG(COUNT(*)) OVER (PARTITION BY C.FullName) - E.Estimation
		,ScaledCount = CAST((COUNT(*) - MIN(COUNT(*)) OVER (PARTITION BY C.FullName)) / (MAX(COUNT(*)) OVER (PARTITION BY C.FullName) * 1.0 - MIN(COUNT(*)) OVER (PARTITION BY C.FullName) * 1.0) AS NUMERIC(10,2))
		,ScaledEstimation = CAST((E.Estimation - MIN(COUNT(*)) OVER (PARTITION BY C.FullName)) / (MAX(COUNT(*)) OVER (PARTITION BY C.FullName) * 1.0 - MIN(COUNT(*)) OVER (PARTITION BY C.FullName) * 1.0) AS NUMERIC(10,2))
		,PercAboveEstimation = CAST(CAST((COUNT(*) - E.Estimation) / (E.Estimation * 1.0 ) AS NUMERIC(10,4)) * 100 AS NUMERIC(10,2))
		,StdDev = CAST(STDEV(COUNT(*)) OVER (PARTITION BY C.FullName) AS NUMERIC(10,2))
		,[Z-Score] = CAST((COUNT(*) - AVG(COUNT(*)) OVER (PARTITION BY C.FullName)) / STDEV(COUNT(*)) OVER (PARTITION BY C.FullName) AS NUMERIC(10,2))
	FROM [OGDW].[Fact].[Incident] I
	INNER JOIN DIM.Customer C ON (C.CustomerKey = I.CustomerKey)
	INNER JOIN #CustomerEstimation E ON (E.Customer = C.Fullname)
	WHERE DATEPART(year, IncidentDate) >= 2016 AND DATEPART(month, IncidentDate) != 12
	GROUP BY C.Fullname, DATEPART(month, incidentDate), E.Estimation
)
,Vector AS (
	SELECT DISTINCT
		 F.FullName
		,VectorLengthSquared = SUM(POWER(F.TicketCount, 2)) OVER (PARTITION BY F.FullName)
	FROM FirstBatch F
)
SELECT
	 F.*
	,Norm = CAST(SQRT(V.VectorLengthSquared) AS NUMERIC(10,2))
	,Normalized = CAST(F.TicketCount / SQRT(V.VectorLengthSquared) AS NUMERIC(10,2))
	,NormalizedSquared = CAST(POWER(F.TicketCount / SQRT(V.VectorLengthSquared),2) AS NUMERIC(10,2))
FROM FirstBatch F
INNER JOIN Vector V ON (V.Fullname = F.Fullname)
ORDER BY Fullname, Month