;With Weeks AS (
	SELECT DISTINCT
		 [WeekYear]
		,[Weeknumber]
		,[WeekStart] = WeekStartDate
		,[WeekEnd] = DATEADD(day, 6, WeekStartDate)
	FROM [OGDW].[Dim].[Date]
)
--,IncidentsSortedWeek AS (
	SELECT 
		  Customer = C.Fullname
		 ,I.IncidentNumber
		 ,OperatorGroupSTD
		 ,WeekStartYear = WS.WeekYear
		 ,WeekStartNumber = WS.Weeknumber
		 ,WeekEndYear = WE.WeekYear
		 ,WeekEndNumber = WE.Weeknumber
		 ,WeekUpdatedYear = WU.WeekYear
		 ,WeekUpdatedNumber = WU.Weeknumber
		 ,I.IncidentDate
		 ,I.ClosureDate
		 ,WE.WeekStart
		 ,WE.WeekEnd
		 ,[Type] = IncidentType
		 ,[EntryType] = I.EntryType
		 ,[Priority] = I.[Priority]
		 ,[Status] = I.[Status]
	FROM [Fact].[Incident] I
	INNER JOIN [DIM].Customer C ON (C.CustomerKey = I.CustomerKey)
	INNER JOIN Weeks WS ON (I.IncidentDate BETWEEN WS.WeekStart AND WS.WeekEnd)
	INNER JOIN DIM.OperatorGroup G ON (G.OperatorGroupKey = I.OperatorGroupKey)
	LEFT JOIN Weeks WE ON (I.ClosureDate BETWEEN WE.WeekStart AND WE.WeekEnd)
	LEFT JOIN Weeks WU ON (I.ChangeDate BETWEEN WU.WeekStart AND WU.WeekEnd)
	WHERE C.Fullname = 'Accare' AND OperatorGroupSTD = 'Netwerkbeheer'
	ORDER BY IncidentDate DESC