/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
	-- Incident Nummer
	 I.naam
	-- Current Group
	,CurrentGroup = I.ref_operatorgroup
	,HistoricGroup = AD.naam
	,MI.datwijzig
FROM [TOPdesk02_ProdM].[dbo].[mutatie_incident] MI
INNER JOIN dbo.actiedoor AD ON (AD.unid = MI.mut_operatorgroupid)
INNER JOIN dbo.incident I ON (I.unid = MI.parentid)
WHERE parentid = 'E338417A-EBA3-4E3C-B5EA-6EF32EC08585' --AND mut_operatorgroupid_act = 1
ORDER BY datwijzig DESC

SELECT
	MI.*
FROM [TOPdesk02_ProdM].[dbo].[mutatie_incident] MI
--INNER JOIN dbo.actiedoor AD ON (AD.unid = MI.mut_operatorgroupid)
--INNER JOIN dbo.incident I ON (I.unid = MI.parentid)
WHERE parentid = 'E338417A-EBA3-4E3C-B5EA-6EF32EC08585'