/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [memotekst]
      ,[parentid]
      ,[uidaanmk]
      ,[uidwijzig]
      ,[unid]
      ,[veldnaam]
      ,[dataanmk]
      ,[datwijzig]
      ,[persoonid]
      ,[gebruikerid]
      ,[importid]
      ,[recordtimestamp]
      ,[importtype]
      ,[origin]
      ,[invisibleforcaller]
      ,[memotekst_rtf]
  FROM [TOPdesk02_ProdM].[dbo].[incident__memogeschiedenis]
  WHERE parentid = 'E338417A-EBA3-4E3C-B5EA-6EF32EC08585'
  ORDER BY [dataanmk] DESC