DECLARE @NewColumns NVARCHAR(MAX) = STUFF((
					SELECT ', ' + CAST(QUOTENAME(C.[State Province]) AS NVARCHAR(MAX))
					FROM (
						SELECT DISTINCT [State Province] 
						FROM [WideWorldImportersDW].[Dimension].[City]
					) C
					ORDER BY C.[State Province]
					FOR XML PATH('')
                ), 1, 2, '' )

PRINT @NewColumns

EXEC(N'
SELECT DISTINCT
	[City], ' + @NewColumns + ' 
FROM (
	SELECT [City], [State Province]
	FROM [WideWorldImportersDW].[Dimension].[City]
) F
PIVOT (
	MIN([State Province])
	FOR [State Province] IN (' + @NewColumns + ')
) AS P')

EXEC(N'
SELECT
	''CityCount'', ' + @NewColumns + ' 
FROM (
	SELECT [City], [State Province]
	FROM [WideWorldImportersDW].[Dimension].[City]
) F
PIVOT (
	COUNT([City])
	FOR [State Province] IN (' + @NewColumns + ')
) AS P')

EXEC(N'
SELECT
	''City'', ' + @NewColumns + ' 
FROM (
	SELECT [City], [State Province]
	FROM [WideWorldImportersDW].[Dimension].[City]
) F
PIVOT (
	Max([City])
	FOR [State Province] IN (' + @NewColumns + ')
) AS P')