;WITH R AS (
	SELECT [unid]
		  ,[sollicitatie_aanleiding]
		  ,[gesolliciteerd_op_functie]
		  ,[rijbewijs]
		  ,[auto]
		  ,[persnr]
		  ,[status]
		  ,[stdbeschikbaarheid]
		  ,[vestigingid]
		  ,[datumindienst]
		  ,[hi_datumindienst]
		  ,[datumuitdienst]
		  ,[Datum_PotentieelWerknemer]
		  ,[Datum_StartDatumContract]
		  ,[UrenmanagerId]
		  ,[beschikbaar_vanaf]
		  ,[HR_ContactPersoon]
		  ,[Leidinggevende]
		  ,[anaam]
		  ,[rnaam]
		  ,[tussen]
		  ,[plaats1]
		  ,[postcode1]
		  ,[tel1]
		  ,[email]
		  ,[geboren]
		  ,[SHA512_Hash] = hashbytes('SHA2_512', (
				SELECT I.[unid]
					  ,I.[sollicitatie_aanleiding]
					  ,I.[gesolliciteerd_op_functie]
					  ,I.[rijbewijs]
					  ,I.[auto]
					  ,I.[persnr]
					  ,I.[status]
					  ,I.[stdbeschikbaarheid]
					  ,I.[vestigingid]
					  ,I.[datumindienst]
					  ,I.[hi_datumindienst]
					  ,I.[datumuitdienst]
					  ,I.[Datum_PotentieelWerknemer]
					  ,I.[Datum_StartDatumContract]
					  ,I.[UrenmanagerId]
					  ,I.[beschikbaar_vanaf]
					  ,I.[HR_ContactPersoon]
					  ,I.[Leidinggevende]
					  ,I.[anaam]
					  ,I.[rnaam]
					  ,I.[tussen]
					  ,I.[plaats1]
					  ,I.[postcode1]
					  ,I.[tel1]
					  ,I.[email]
					  ,I.[geboren] 
				FROM (VALUES(NULL))foo(bar) FOR xml auto)
			)
	,ValidFrom
	,ValidTo
	FROM [Repl_LIFT_001013_OGD].[dbo].[werknemer_new] I
)
,Ranking AS ( 
	SELECT 
		 I.[unid]
		,I.[sollicitatie_aanleiding]
		,I.[gesolliciteerd_op_functie]
		,I.[rijbewijs]
		,I.[auto]
		,I.[persnr]
		,I.[status]
		,I.[stdbeschikbaarheid]
		,I.[vestigingid]
		,I.[datumindienst]
		,I.[hi_datumindienst]
		,I.[datumuitdienst]
		,I.[Datum_PotentieelWerknemer]
		,I.[Datum_StartDatumContract]
		,I.[UrenmanagerId]
		,I.[beschikbaar_vanaf]
		,I.[HR_ContactPersoon]
		,I.[Leidinggevende]
		,I.[anaam]
		,I.[rnaam]
		,I.[tussen]
		,I.[plaats1]
		,I.[postcode1]
		,I.[tel1]
		,I.[email]
		,I.[geboren]  
		,[SHA512_Hash]
		,HashRanking = ROW_NUMBER() OVER (Partition by Sha512_hash ORDER BY ValidTo)
		,ValidFrom = MIN(ValidFrom) OVER (Partition by Sha512_hash ORDER BY ValidFrom)
		,ValidTo = MAX(ValidTo) OVER (Partition by Sha512_hash ORDER BY ValidTo DESC)
	FROM R I
)
,CleanUp AS (
	SELECT
		 I.[unid]
		,I.[sollicitatie_aanleiding]
		,I.[gesolliciteerd_op_functie]
		,I.[rijbewijs]
		,I.[auto]
		,I.[persnr]
		,I.[status]
		,I.[stdbeschikbaarheid]
		,I.[vestigingid]
		,I.[datumindienst]
		,I.[hi_datumindienst]
		,I.[datumuitdienst]
		,I.[Datum_PotentieelWerknemer]
		,I.[Datum_StartDatumContract]
		,I.[UrenmanagerId]
		,I.[beschikbaar_vanaf]
		,I.[HR_ContactPersoon]
		,I.[Leidinggevende]
		,I.[anaam]
		,I.[rnaam]
		,I.[tussen]
		,I.[plaats1]
		,I.[postcode1]
		,I.[tel1]
		,I.[email]
		,I.[geboren]  
		,[SHA512_Hash]
		,ValidFrom = CASE 
						WHEN ValidFrom > COALESCE(LAG(ValidTo) OVER (Partition by Unid order by validTo), ValidFrom) AND ValidFrom < SYSUTCDATETIME() THEN ValidFrom
						ELSE COALESCE(LAG(ValidTo) OVER (Partition by Unid order by validTo), ValidFrom)
					END
		,ValidTo = CASE
						WHEN ValidTo > COALESCE(LEAD(ValidFrom) OVER (Partition by unid order by validTo), ValidTo) THEN ValidTo
						ELSE COALESCE(LEAD(ValidFrom) OVER (Partition by unid order by validTo), ValidTo)
					END
	FROM Ranking I
	where I.HashRanking = 1
)
--INSERT INTO dbo.werknemer
SELECT 
 Error = CASE WHEN LAG(ValidTo) OVER (PARTITION BY unid ORDER BY ValidTo) != ValidFrom THEN 1 ELSE 0 END
,* 
FROM CleanUp --WHERE ValidTo < SYSUTCDATETIME()
--where unid = 'a0b53c0c-a359-513d-9c9c-4e6e28299321'
order by unid,ValidFrom 

/*
SELECT EX03.tekst, * FROM 
	(select DISTINCT exveld003 from dbo.werknemer_old FOR SYSTEM_TIME ALL WHERE unid = 'A0B53C0C-A359-513D-9C9C-4E6E28299321') W 
LEFT JOIN dbo.vrijopzoek EX03 ON (EX03.Kaartcode = 'TBL01EXVELD003' AND EX03.unid = W.exveld003)
order by validfrom
*/